Repository openstack-archive/tripleo-validations: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-docs, tripleo-ci-centos-8-scenario004-standalone, promote-openstack-tox-docs, tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles, tripleo-validations-centos-8-molecule-ceilometerdb_size, tripleo-validations-centos-8-molecule-neutron_sanity_check, tripleo-validations-centos-8-molecule-node_health, tripleo-validations-centos-8-molecule-nova_event_callback, tripleo-validations-centos-8-molecule-ovs_dpdk_pmd, tripleo-validations-centos-8-molecule-pacemaker_status, tripleo-validations-centos-8-molecule-stack_health, tripleo-validations-centos-8-molecule-switch_vlans, tripleo-validations-centos-8-molecule-tls_everywhere, tripleo-validations-centos-8-molecule-undercloud_process_count, tripleo-validations-centos-8-molecule-undercloud_selinux_mode, tripleo-validations-centos-8-molecule-openstack_endpoints, tripleo-validations-centos-8-molecule-ntp, tripleo-validations-centos-8-molecule-service_status, tripleo-validations-centos-8-molecule-openshift_on_openstack, tripleo-validations-centos-8-molecule-node_disks, tripleo-validations-centos-8-molecule-container_status, tripleo-validations-centos-8-molecule-healthcheck_service_status, tripleo-validations-centos-8-molecule-ironic_boot_configuration, tripleo-validations-centos-8-molecule-mysql_open_files_limit, tripleo-validations-centos-8-molecule-network_environment, tripleo-validations-centos-8-molecule-advanced_format_512e_support, tripleo-validations-centos-8-molecule-dhcp_validations, tripleo-validations-centos-8-molecule-controller_token, tripleo-validations-centos-8-molecule-controller_ulimits, tripleo-validations-centos-8-molecule-ctlplane_ip_range, tripleo-validations-centos-8-molecule-dns, tripleo-validations-centos-8-molecule-haproxy, tripleo-validations-centos-8-molecule-repos, tripleo-validations-centos-8-molecule-undercloud_cpu, tripleo-validations-centos-8-molecule-undercloud_ram, tripleo-validations-centos-8-molecule-undercloud_debug, tripleo-validations-centos-8-molecule-undercloud_disk_space, tripleo-validations-centos-8-molecule-xfs_check_ftype, tripleo-validations-centos-8-molecule-nova_status, tripleo-validations-centos-8-molecule-image_serve, tripleo-validations-centos-8-molecule-check_network_gateway, tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted, tripleo-validations-centos-8-molecule-undercloud_tokenflush, tripleo-validations-centos-8-molecule-rabbitmq_limits, tripleo-validations-centos-8-molecule-stonith_exists, tripleo-validations-centos-8-molecule-check_latest_packages_version, tripleo-validations-centos-8-molecule-validate_selinux, tripleo-validations-centos-8-molecule-ceph, tripleo-validations-centos-8-molecule-system_encoding, tripleo-validations-centos-8-molecule-nova_svirt, tripleo-validations-centos-8-molecule-package_version

Path conditions:
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^requirements.txt, ^README.rst
  tripleo-ci-centos-8-scenario004-standalone: any of: ^roles/ceph.*$
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^requirements.txt, ^README.rst
  tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles: any of: ^roles/collect_flavors_and_verify_profiles/.*
  tripleo-validations-centos-8-molecule-ceilometerdb_size: any of: ^roles/ceilometerdb_size/.*
  tripleo-validations-centos-8-molecule-neutron_sanity_check: any of: ^roles/neutron_sanity_check/.*
  tripleo-validations-centos-8-molecule-node_health: any of: ^roles/node_health/.*
  tripleo-validations-centos-8-molecule-nova_event_callback: any of: ^roles/nova_event_callback/.*
  tripleo-validations-centos-8-molecule-ovs_dpdk_pmd: any of: ^roles/ovs_dpdk_pmd/.*
  tripleo-validations-centos-8-molecule-pacemaker_status: any of: ^roles/pacemaker_status/.*
  tripleo-validations-centos-8-molecule-stack_health: any of: ^roles/stack_health/.*
  tripleo-validations-centos-8-molecule-switch_vlans: any of: ^roles/switch_vlans/.*
  tripleo-validations-centos-8-molecule-tls_everywhere: any of: ^roles/tls_everywhere/.*
  tripleo-validations-centos-8-molecule-undercloud_process_count: any of: ^roles/undercloud_process_count/.*
  tripleo-validations-centos-8-molecule-undercloud_selinux_mode: any of: ^roles/undercloud_selinux_mode/.*
  tripleo-validations-centos-8-molecule-openstack_endpoints: any of: ^roles/openstack_endpoints/.*
  tripleo-validations-centos-8-molecule-ntp: any of: ^roles/ntp/.*
  tripleo-validations-centos-8-molecule-service_status: any of: ^roles/service_status/.*
  tripleo-validations-centos-8-molecule-openshift_on_openstack: any of: ^roles/openshift_on_openstack/.*
  tripleo-validations-centos-8-molecule-node_disks: any of: ^roles/node_disks/.*
  tripleo-validations-centos-8-molecule-container_status: any of: ^roles/container_status/.*
  tripleo-validations-centos-8-molecule-healthcheck_service_status: any of: ^roles/healthcheck_service_status/.*
  tripleo-validations-centos-8-molecule-ironic_boot_configuration: any of: ^roles/ironic_boot_configuration/.*
  tripleo-validations-centos-8-molecule-mysql_open_files_limit: any of: ^roles/mysql_open_files_limit/.*
  tripleo-validations-centos-8-molecule-network_environment: any of: ^roles/network_environment/.*
  tripleo-validations-centos-8-molecule-advanced_format_512e_support: any of: ^roles/advanced_format_512e_support/.*
  tripleo-validations-centos-8-molecule-dhcp_validations: any of: ^roles/dhcp_validations/.*
  tripleo-validations-centos-8-molecule-controller_token: any of: ^roles/controller_token/.*
  tripleo-validations-centos-8-molecule-controller_ulimits: any of: ^roles/controller_ulimits/.*
  tripleo-validations-centos-8-molecule-ctlplane_ip_range: any of: ^roles/ctlplane_ip_range/.*
  tripleo-validations-centos-8-molecule-dns: any of: ^roles/dns/.*
  tripleo-validations-centos-8-molecule-haproxy: any of: ^roles/haproxy/.*
  tripleo-validations-centos-8-molecule-repos: any of: ^roles/repos/.*
  tripleo-validations-centos-8-molecule-undercloud_cpu: any of: ^roles/undercloud_cpu/.*
  tripleo-validations-centos-8-molecule-undercloud_ram: any of: ^roles/undercloud_ram/.*
  tripleo-validations-centos-8-molecule-undercloud_debug: any of: ^roles/undercloud_debug/.*
  tripleo-validations-centos-8-molecule-undercloud_disk_space: any of: ^roles/undercloud_disk_space/.*
  tripleo-validations-centos-8-molecule-xfs_check_ftype: any of: ^roles/xfs_check_ftype/.*
  tripleo-validations-centos-8-molecule-nova_status: any of: ^roles/nova_status/.*
  tripleo-validations-centos-8-molecule-image_serve: any of: ^roles/image_serve/.*
  tripleo-validations-centos-8-molecule-check_network_gateway: any of: ^roles/check_network_gateway/.*
  tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted: any of: ^roles/undercloud_heat_purge_deleted/.*
  tripleo-validations-centos-8-molecule-undercloud_tokenflush: any of: ^roles/undercloud_tokenflush/.*
  tripleo-validations-centos-8-molecule-rabbitmq_limits: any of: ^roles/rabbitmq_limits/.*
  tripleo-validations-centos-8-molecule-stonith_exists: any of: ^roles/stonith_exists/.*
  tripleo-validations-centos-8-molecule-check_latest_packages_version: any of: ^roles/check_latest_packages_version/.*
  tripleo-validations-centos-8-molecule-validate_selinux: any of: ^roles/validate_selinux/.*
  tripleo-validations-centos-8-molecule-ceph: any of: ^roles/ceph/.*
  tripleo-validations-centos-8-molecule-system_encoding: any of: ^roles/system_encoding/.*
  tripleo-validations-centos-8-molecule-nova_svirt: any of: ^roles/nova_svirt/.*
  tripleo-validations-centos-8-molecule-package_version: any of: ^roles/package_version/.*

check-ram is not compat w/ upstream
  roles/tripleo_validations/vars/main.yml
Due: none

Test folder structure rearranged.
  .gitignore
  requirements.txt
  test-requirements.txt
  tripleo_validations/tests/__init__.py
  tripleo_validations/tests/fakes.py
  tripleo_validations/tests/library/__init__.py
  tripleo_validations/tests/lookup_plugins/__init__.py
Due: openstack-tox-docs, promote-openstack-tox-docs

Use static inventory for component CI role and clean component list
  roles/tripleo_validations/defaults/main.yml
  roles/tripleo_validations/tasks/run.yml
  roles/tripleo_validations/vars/main.yml
Due: none

Use a more targeted job for tripleo-validations
  zuul.d/base.yaml
  zuul.d/layout.yaml
Due: none

Minor test improvement for ceph_pools_pg_protection
  tripleo_validations/tests/library/test_ceph_pools_pg_protection.py
Due: none

More detail in arg validation
  scripts/tripleo-ansible-inventory
Due: none

New utils.py tests
  tripleo_validations/tests/test_utils.py
Due: none

Removal of osc-lib
  requirements.txt
  test-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

Make tls_everywhere validations compatible with ansible_facts
  roles/tls_everywhere/tasks/common.yaml
  roles/tls_everywhere/tasks/ipa-server-check.yaml
Due: tripleo-validations-centos-8-molecule-tls_everywhere

Mocking superfluous imports
  tripleo_validations/tests/fakes.py
  tripleo_validations/tests/library/test_ceph_pools_pg_protection.py
  tripleo_validations/tests/library/test_check_ironic_boot_config.py
  tripleo_validations/tests/library/test_ip_range.py
  tripleo_validations/tests/library/test_network_environment.py
  tripleo_validations/tests/library/test_node_disks.py
  tripleo_validations/tests/library/test_ovs_dpdk_pmd_cpus_check.py
  tripleo_validations/tests/library/test_switch_vlans.py
  tripleo_validations/tests/test_utils.py
Due: none

Validation should use the public endpoint
  roles/overcloud_service_status/resources/scripts/http_server.py
  roles/overcloud_service_status/tasks/os_service.yml
Due: none

Exposing default variables in playbook
  playbooks/overcloud-service-status.yaml
Due: none

Add validation to check DockerInsecureRegistryAddress matches the UC hostname
  doc/source/roles/role-check_uc_hostname.rst
  playbooks/check-uc-hostname.yaml
  roles/check_uc_hostname/README.md
  roles/check_uc_hostname/defaults/main.yml
  roles/check_uc_hostname/molecule/default/Dockerfile
  roles/check_uc_hostname/molecule/default/converge.yml
  roles/check_uc_hostname/molecule/default/molecule.yml
  roles/check_uc_hostname/molecule/default/prepare.yml
  roles/check_uc_hostname/tasks/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Remove tripleo-validations CI roles
  roles/tripleo_validations/defaults/main.yml
  roles/tripleo_validations/tasks/main.yml
  roles/tripleo_validations/tasks/run.yml
  roles/tripleo_validations/tasks/test_script.yml
  roles/tripleo_validations/templates/run-validations-cli-tests.sh.j2
  roles/tripleo_validations/vars/main.yml
Due: none

Add groups.yaml to the openstack-tox-jobs files
  doc/source/readme.rst
  zuul.d/layout.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Adding backup-and-restore validation group
  doc/source/index.rst
  groups.yaml
  playbooks/ceph-health.yaml
  playbooks/container-status.yaml
  playbooks/healthcheck-service-status.yaml
  playbooks/image-serve.yaml
  playbooks/neutron-sanity-check.yaml
  playbooks/nova-status.yaml
  playbooks/pacemaker-status.yaml
  playbooks/undercloud-service-status.yaml
  role-addition.yml
Due: openstack-tox-docs, promote-openstack-tox-docs

Quick documentation content reorganization
  CONTRIBUTING.rst
  README.rst
  doc/source/_exts/generate_validations_doc.py
  doc/source/contributing.rst
  doc/source/contributing/contributing.rst
  doc/source/contributing/developer_guide.rst
  doc/source/groups.rst
  doc/source/index.rst
  doc/source/installation.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Refactoring of ovs_dpdk_pmd_cpus_check tests.
  tripleo_validations/tests/fakes.py
  tripleo_validations/tests/library/test_ovs_dpdk_pmd_cpus_check.py
Due: none

Bump pre-commit repositories
  .pre-commit-config.yaml
Due: none

Update master for stable/wallaby
  releasenotes/source/index.rst
  releasenotes/source/wallaby.rst
Due: none

Test classes for lookup plugins
  tripleo_validations/tests/fakes.py
  tripleo_validations/tests/lookup_plugins/test_glance_images.py
  tripleo_validations/tests/lookup_plugins/test_introspection_data.py
  tripleo_validations/tests/lookup_plugins/test_ironic_nodes.py
  tripleo_validations/tests/lookup_plugins/test_nova_flavors.py
  tripleo_validations/tests/lookup_plugins/test_nova_hypervisor_statistics.py
  tripleo_validations/tests/lookup_plugins/test_nova_servers.py
  tripleo_validations/tests/lookup_plugins/test_roles_info.py
  tripleo_validations/tests/lookup_plugins/test_stack_resources.py
  tripleo_validations/tests/lookup_plugins/test_tht.py
Due: none

Tests of lookup plugin initiation for glance_images.py
  tripleo_validations/tests/lookup_plugins/test_glance_images.py
Due: none

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: none
