Repository openstack-archive/tripleo-validations: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-docs, promote-openstack-tox-docs, tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles, tripleo-validations-centos-8-molecule-ceilometerdb_size, tripleo-validations-centos-8-molecule-neutron_sanity_check, tripleo-validations-centos-8-molecule-node_health, tripleo-validations-centos-8-molecule-nova_event_callback, tripleo-validations-centos-8-molecule-ovs_dpdk_pmd, tripleo-validations-centos-8-molecule-pacemaker_status, tripleo-validations-centos-8-molecule-stack_health, tripleo-validations-centos-8-molecule-switch_vlans, tripleo-validations-centos-8-molecule-tls_everywhere, tripleo-validations-centos-8-molecule-undercloud_process_count, tripleo-validations-centos-8-molecule-openstack_endpoints, tripleo-validations-centos-8-molecule-openshift_on_openstack, tripleo-validations-centos-8-molecule-node_disks, tripleo-validations-centos-8-molecule-container_status, tripleo-validations-centos-8-molecule-healthcheck_service_status, tripleo-validations-centos-8-molecule-ironic_boot_configuration, tripleo-validations-centos-8-molecule-mysql_open_files_limit, tripleo-validations-centos-8-molecule-network_environment, tripleo-validations-centos-8-molecule-dhcp_validations, tripleo-validations-centos-8-molecule-controller_token, tripleo-validations-centos-8-molecule-controller_ulimits, tripleo-validations-centos-8-molecule-ctlplane_ip_range, tripleo-validations-centos-8-molecule-repos, tripleo-validations-centos-8-molecule-undercloud_debug, tripleo-validations-centos-8-molecule-nova_status, tripleo-validations-centos-8-molecule-image_serve, tripleo-validations-centos-8-molecule-check_network_gateway, tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted, tripleo-validations-centos-8-molecule-undercloud_tokenflush, tripleo-validations-centos-8-molecule-rabbitmq_limits, tripleo-validations-centos-8-molecule-stonith_exists, tripleo-validations-centos-8-molecule-ceph, tripleo-validations-centos-8-molecule-nova_svirt, tripleo-validations-centos-8-molecule-system_encoding, tripleo-validations-centos-8-molecule-check_rhsm_version, tripleo-validations-centos-8-molecule-overcloud_service_status, tripleo-validations-centos-8-molecule-check_undercloud_conf, tripleo-validations-centos-8-molecule-check_uc_hostname, tripleo-validations-centos-8-molecule-check_for_dangling_images

tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: collect_flavors_and_verify_profiles
  voting: false

tripleo-validations-centos-8-molecule-ceilometerdb_size:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ceilometerdb_size
  voting: false

tripleo-validations-centos-8-molecule-neutron_sanity_check:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: neutron_sanity_check
  voting: false

tripleo-validations-centos-8-molecule-node_health:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: node_health
  voting: false

tripleo-validations-centos-8-molecule-nova_event_callback:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: nova_event_callback
  voting: false

tripleo-validations-centos-8-molecule-ovs_dpdk_pmd:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ovs_dpdk_pmd
  voting: false

tripleo-validations-centos-8-molecule-pacemaker_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: pacemaker_status
  voting: false

tripleo-validations-centos-8-molecule-stack_health:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: stack_health
  voting: false

tripleo-validations-centos-8-molecule-switch_vlans:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: switch_vlans
  voting: false

tripleo-validations-centos-8-molecule-tls_everywhere:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: tls_everywhere
  voting: false

tripleo-validations-centos-8-molecule-undercloud_process_count:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: undercloud_process_count
  voting: false

tripleo-validations-centos-8-molecule-openstack_endpoints:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: openstack_endpoints
  voting: false

tripleo-validations-centos-8-molecule-openshift_on_openstack:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: openshift_on_openstack
  voting: false

tripleo-validations-centos-8-molecule-node_disks:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: node_disks
  voting: false

tripleo-validations-centos-8-molecule-container_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: container_status
  voting: false

tripleo-validations-centos-8-molecule-healthcheck_service_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: healthcheck_service_status
  voting: false

tripleo-validations-centos-8-molecule-repos:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: repos

Migrate back haproxy validation to tripleo-validations
  doc/source/modules/modules-tripleo_haproxy_conf.rst
  doc/source/roles/role-tripleo_haproxy.rst
  library/tripleo_haproxy_conf.py
  playbooks/tripleo-haproxy.yaml
  roles/tripleo_haproxy/defaults/main.yml
  roles/tripleo_haproxy/molecule/default/converge.yml
  roles/tripleo_haproxy/molecule/default/molecule.yml
  roles/tripleo_haproxy/tasks/main.yml
  tripleo_validations/tests/library/test_tripleo_haproxy_conf.py
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Removing import conditional for 'collections.abc'
  library/switch_vlans.py
  tripleo_validations/utils.py
Due: none

Corrected the task 'Get file_descriptors total_limit' to get the 'fs.file-max' value.
  roles/rabbitmq_limits/tasks/main.yml
Due: tripleo-validations-centos-8-molecule-rabbitmq_limits

Add zuul.d/molecule.yaml file back in the yamllint ignore list
  .yamllint
  zuul.d/molecule.yaml
Due: none

Sort jobs in molecule.yaml file when adding new role
  roles/validation_init/tasks/main.yml
Due: none

fix var name in logging statement
  ci/playbooks/coverchange.yaml
Due: none

[ussuri-train-only] Use more recent version of ansible-lint
  .ansible-lint_rules/ValidationHasMetadataRule.py
  .pre-commit-config.yaml
Due: none

Introducing the oslo_config_validator role
  doc/source/roles/role-oslo_config_validator.rst
  playbooks/oslo-config-validator.yaml
  roles/oslo_config_validator/defaults/main.yml
  roles/oslo_config_validator/molecule/default/molecule.yml
  roles/oslo_config_validator/molecule/mocked_failure/molecule.yml
  roles/oslo_config_validator/resources/library/podman_container.py
  roles/oslo_config_validator/resources/library/podman_container_info.py
  roles/oslo_config_validator/resources/playbooks/converge.yml
  roles/oslo_config_validator/resources/playbooks/prepare.yml
  roles/oslo_config_validator/tasks/build_validation_config.yml
  roles/oslo_config_validator/tasks/container_run.yml
  roles/oslo_config_validator/tasks/invalidate_config.yml
  roles/oslo_config_validator/tasks/main.yml
  roles/oslo_config_validator/tasks/opt_data_format.yml
  roles/oslo_config_validator/tasks/report_generation.yml
  roles/oslo_config_validator/tasks/validate_config.yml
  roles/oslo_config_validator/tasks/validation_command.yml
  roles/oslo_config_validator/vars/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

molecule-requirements constraints
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

[train-only] molecule-requirements constraints
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

[victoria-only] molecule-requirements constraints
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

[ussuri-only] molecule-requirements constraints
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

[wallaby-only] molecule-requirements constraints
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

NFV OvS DPDK zero packet loss validations
  doc/source/modules/modules-check_cpus_aligned_with_dpdk_nics.rst
  doc/source/modules/modules-check_other_processes_pmd_usage.rst
  doc/source/modules/modules-convert_range_to_numbers_list.rst
  doc/source/modules/modules-get_dpdk_nics_numa_info.rst
  doc/source/modules/modules-pmd_threads_siblings_check.rst
  doc/source/roles/role-check_nfv_ovsdpdk_zero_packet_loss.rst
  library/check_cpus_aligned_with_dpdk_nics.py
  library/check_other_processes_pmd_usage.py
  library/convert_range_to_numbers_list.py
  library/get_dpdk_nics_numa_info.py
  library/pmd_threads_siblings_check.py
  playbooks/nfv-ovsdpdk-zero-packet-loss-check.yaml
  roles/check_nfv_ovsdpdk_zero_packet_loss/tasks/check_nfv_instances.yml
  roles/check_nfv_ovsdpdk_zero_packet_loss/tasks/check_nfv_pci_address.yml
  roles/check_nfv_ovsdpdk_zero_packet_loss/tasks/main.yml
  roles/check_nfv_ovsdpdk_zero_packet_loss/tasks/validate_dpdk_port_bandwidth.yml
  roles/check_nfv_ovsdpdk_zero_packet_loss/tasks/validate_instance.yml
  tripleo_validations/tests/library/test_check_cpus_aligned_with_dpdk_nics.py
  tripleo_validations/tests/library/test_check_other_processes_pmd_usage.py
  tripleo_validations/tests/library/test_convert_range_to_numbers_list.py
  tripleo_validations/tests/library/test_get_dpdk_nics_numa_info.py
  tripleo_validations/tests/library/test_pmd_threads_siblings_check.py
Due: openstack-tox-docs, promote-openstack-tox-docs

NVF OvS DPDK instance emulatorpin validation fix
  roles/check_nfv_ovsdpdk_zero_packet_loss/tasks/validate_instance.yml
Due: none

Replace deprecated import of ABCs from collections
  library/network_environment.py
  tripleo_validations/tests/test_utils.py
Due: none

[validation_init] Add ability to create new validation w/o molecule test
  doc/source/contributing/developer_guide.rst
  roles/validation_init/defaults/main.yml
  roles/validation_init/files/_skeleton_role_/handlers/main.yml
  roles/validation_init/molecule/no_molecule_test/converge.yml
  roles/validation_init/molecule/no_molecule_test/molecule.yml
  roles/validation_init/molecule/no_molecule_test/verify.yml
  roles/validation_init/resources/playbooks/prepare.yml
  roles/validation_init/tasks/main.yml
Due: openstack-tox-docs, promote-openstack-tox-docs

yaml.load: Set Loader to avoid deprecation warning
  library/get_dpdk_nics_numa_info.py
Due: none

EndpointNotFound is now handled gracefully
  tripleo_validations/utils.py
Due: none

remove using containers-prepare-parameter.yaml
  doc/source/roles/role-check_uc_hostname.rst
  roles/check_uc_hostname/README.md
  roles/check_uc_hostname/defaults/main.yml
  roles/check_uc_hostname/molecule/default/converge.yml
  roles/check_uc_hostname/molecule/default/molecule.yml
  roles/check_uc_hostname/molecule/default/prepare.yml
  roles/check_uc_hostname/tasks/main.yml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-validations-centos-8-molecule-check_uc_hostname

Moving setting validation from nova_event_callback
  doc/source/roles/role-nova_event_callback.rst
  playbooks/nova-event-callback.yaml
  roles/nova_event_callback/defaults/main.yml
  roles/nova_event_callback/tasks/main.yml
  roles/nova_event_callback/vars/main.yml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-validations-centos-8-molecule-nova_event_callback

oslo_config_validator: Setting container network to none
  roles/oslo_config_validator/defaults/main.yml
  roles/oslo_config_validator/tasks/container_run.yml
Due: none

Ansible lint custom rule expansion
  .ansible-lint
  .ansible-lint_rules/ValidationHasMetadataRule.py
Due: none

Path conditions:
  openstack-tox-docs: any of: ^doc/.*, ^groups.yaml, ^molecule-requirements.txt, ^requirements.txt, ^README.rst
  promote-openstack-tox-docs: any of: ^doc/.*, ^groups.yaml, ^molecule-requirements.txt, ^requirements.txt, ^README.rst
  tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles: any of: ^roles/collect_flavors_and_verify_profiles/.*
  tripleo-validations-centos-8-molecule-ceilometerdb_size: any of: ^roles/ceilometerdb_size/.*
  tripleo-validations-centos-8-molecule-neutron_sanity_check: any of: ^roles/neutron_sanity_check/.*
  tripleo-validations-centos-8-molecule-node_health: any of: ^roles/node_health/.*
  tripleo-validations-centos-8-molecule-nova_event_callback: any of: ^roles/nova_event_callback/.*
  tripleo-validations-centos-8-molecule-ovs_dpdk_pmd: any of: ^roles/ovs_dpdk_pmd/.*
  tripleo-validations-centos-8-molecule-pacemaker_status: any of: ^roles/pacemaker_status/.*
  tripleo-validations-centos-8-molecule-stack_health: any of: ^roles/stack_health/.*
  tripleo-validations-centos-8-molecule-switch_vlans: any of: ^roles/switch_vlans/.*
  tripleo-validations-centos-8-molecule-tls_everywhere: any of: ^roles/tls_everywhere/.*
  tripleo-validations-centos-8-molecule-undercloud_process_count: any of: ^roles/undercloud_process_count/.*
  tripleo-validations-centos-8-molecule-openstack_endpoints: any of: ^roles/openstack_endpoints/.*
  tripleo-validations-centos-8-molecule-openshift_on_openstack: any of: ^roles/openshift_on_openstack/.*
  tripleo-validations-centos-8-molecule-node_disks: any of: ^roles/node_disks/.*
  tripleo-validations-centos-8-molecule-container_status: any of: ^roles/container_status/.*
  tripleo-validations-centos-8-molecule-healthcheck_service_status: any of: ^roles/healthcheck_service_status/.*
  tripleo-validations-centos-8-molecule-ironic_boot_configuration: any of: ^roles/ironic_boot_configuration/.*
  tripleo-validations-centos-8-molecule-mysql_open_files_limit: any of: ^roles/mysql_open_files_limit/.*
  tripleo-validations-centos-8-molecule-network_environment: any of: ^roles/network_environment/.*
  tripleo-validations-centos-8-molecule-dhcp_validations: any of: ^roles/dhcp_validations/.*
  tripleo-validations-centos-8-molecule-controller_token: any of: ^roles/controller_token/.*
  tripleo-validations-centos-8-molecule-controller_ulimits: any of: ^roles/controller_ulimits/.*
  tripleo-validations-centos-8-molecule-ctlplane_ip_range: any of: ^roles/ctlplane_ip_range/.*
  tripleo-validations-centos-8-molecule-repos: any of: ^roles/repos/.*
  tripleo-validations-centos-8-molecule-undercloud_debug: any of: ^roles/undercloud_debug/.*
  tripleo-validations-centos-8-molecule-nova_status: any of: ^roles/nova_status/.*
  tripleo-validations-centos-8-molecule-image_serve: any of: ^roles/image_serve/.*
  tripleo-validations-centos-8-molecule-check_network_gateway: any of: ^roles/check_network_gateway/.*
  tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted: any of: ^roles/undercloud_heat_purge_deleted/.*
  tripleo-validations-centos-8-molecule-undercloud_tokenflush: any of: ^roles/undercloud_tokenflush/.*
  tripleo-validations-centos-8-molecule-rabbitmq_limits: any of: ^roles/rabbitmq_limits/.*
  tripleo-validations-centos-8-molecule-stonith_exists: any of: ^roles/stonith_exists/.*
  tripleo-validations-centos-8-molecule-ceph: any of: ^roles/ceph/.*
  tripleo-validations-centos-8-molecule-nova_svirt: any of: ^roles/nova_svirt/.*
  tripleo-validations-centos-8-molecule-system_encoding: any of: ^roles/system_encoding/.*
  tripleo-validations-centos-8-molecule-check_rhsm_version: any of: ^roles/check_rhsm_version/.*
  tripleo-validations-centos-8-molecule-overcloud_service_status: any of: ^roles/overcloud_service_status/.*
  tripleo-validations-centos-8-molecule-check_undercloud_conf: any of: ^roles/check_undercloud_conf/.*
  tripleo-validations-centos-8-molecule-check_uc_hostname: any of: ^roles/check_uc_hostname/.*, ^tests/prepare-test-host.yml, ^ci/playbooks/pre.yml, ^ci/playbooks/run.yml
  tripleo-validations-centos-8-molecule-check_for_dangling_images: any of: ^roles/check_for_dangling_images/.*, ^tests/prepare-test-host.yml, ^ci/playbooks/pre.yml, ^ci/playbooks/run.yml
