Repository openstack-archive/tripleo-validations: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-docs, tripleo-ci-centos-8-scenario004-standalone, promote-openstack-tox-docs, tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles, tripleo-validations-centos-8-molecule-ceilometerdb_size, tripleo-validations-centos-8-molecule-neutron_sanity_check, tripleo-validations-centos-8-molecule-node_health, tripleo-validations-centos-8-molecule-nova_event_callback, tripleo-validations-centos-8-molecule-ovs_dpdk_pmd, tripleo-validations-centos-8-molecule-pacemaker_status, tripleo-validations-centos-8-molecule-stack_health, tripleo-validations-centos-8-molecule-switch_vlans, tripleo-validations-centos-8-molecule-tls_everywhere, tripleo-validations-centos-8-molecule-undercloud_process_count, tripleo-validations-centos-8-molecule-undercloud_selinux_mode, tripleo-validations-centos-8-molecule-openstack_endpoints, tripleo-validations-centos-8-molecule-ntp, tripleo-validations-centos-8-molecule-service_status, tripleo-validations-centos-8-molecule-openshift_on_openstack, tripleo-validations-centos-8-molecule-node_disks, tripleo-validations-centos-8-molecule-container_status, tripleo-validations-centos-8-molecule-healthcheck_service_status, tripleo-validations-centos-8-molecule-ironic_boot_configuration, tripleo-validations-centos-8-molecule-mysql_open_files_limit, tripleo-validations-centos-8-molecule-network_environment, tripleo-validations-centos-8-molecule-advanced_format_512e_support, tripleo-validations-centos-8-molecule-dhcp_validations, tripleo-validations-centos-8-molecule-controller_token, tripleo-validations-centos-8-molecule-controller_ulimits, tripleo-validations-centos-8-molecule-ctlplane_ip_range, tripleo-validations-centos-8-molecule-dns, tripleo-validations-centos-8-molecule-haproxy, tripleo-validations-centos-8-molecule-repos, tripleo-validations-centos-8-molecule-undercloud_cpu, tripleo-validations-centos-8-molecule-undercloud_ram, tripleo-validations-centos-8-molecule-undercloud_debug, tripleo-validations-centos-8-molecule-undercloud_disk_space, tripleo-validations-centos-8-molecule-xfs_check_ftype, tripleo-validations-centos-8-molecule-nova_status, tripleo-validations-centos-8-molecule-image_serve, tripleo-validations-centos-8-molecule-check_network_gateway, tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted, tripleo-validations-centos-8-molecule-undercloud_tokenflush, tripleo-validations-centos-8-molecule-rabbitmq_limits, tripleo-validations-centos-8-molecule-stonith_exists, tripleo-validations-centos-8-molecule-check_latest_packages_version, tripleo-validations-centos-8-molecule-validate_selinux, tripleo-validations-centos-8-molecule-ceph, tripleo-validations-centos-8-molecule-system_encoding, tripleo-validations-centos-8-molecule-nova_svirt, tripleo-validations-centos-8-molecule-package_version

Path conditions:
  openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-ci-centos-8-scenario004-standalone: any of: ^roles/ceph.*$
  promote-openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles: any of: ^roles/collect_flavors_and_verify_profiles/.*
  tripleo-validations-centos-8-molecule-ceilometerdb_size: any of: ^roles/ceilometerdb_size/.*
  tripleo-validations-centos-8-molecule-neutron_sanity_check: any of: ^roles/neutron_sanity_check/.*
  tripleo-validations-centos-8-molecule-node_health: any of: ^roles/node_health/.*
  tripleo-validations-centos-8-molecule-nova_event_callback: any of: ^roles/nova_event_callback/.*
  tripleo-validations-centos-8-molecule-ovs_dpdk_pmd: any of: ^roles/ovs_dpdk_pmd/.*
  tripleo-validations-centos-8-molecule-pacemaker_status: any of: ^roles/pacemaker_status/.*
  tripleo-validations-centos-8-molecule-stack_health: any of: ^roles/stack_health/.*
  tripleo-validations-centos-8-molecule-switch_vlans: any of: ^roles/switch_vlans/.*
  tripleo-validations-centos-8-molecule-tls_everywhere: any of: ^roles/tls_everywhere/.*
  tripleo-validations-centos-8-molecule-undercloud_process_count: any of: ^roles/undercloud_process_count/.*
  tripleo-validations-centos-8-molecule-undercloud_selinux_mode: any of: ^roles/undercloud_selinux_mode/.*
  tripleo-validations-centos-8-molecule-openstack_endpoints: any of: ^roles/openstack_endpoints/.*
  tripleo-validations-centos-8-molecule-ntp: any of: ^roles/ntp/.*
  tripleo-validations-centos-8-molecule-service_status: any of: ^roles/service_status/.*
  tripleo-validations-centos-8-molecule-openshift_on_openstack: any of: ^roles/openshift_on_openstack/.*
  tripleo-validations-centos-8-molecule-node_disks: any of: ^roles/node_disks/.*
  tripleo-validations-centos-8-molecule-container_status: any of: ^roles/container_status/.*
  tripleo-validations-centos-8-molecule-healthcheck_service_status: any of: ^roles/healthcheck_service_status/.*
  tripleo-validations-centos-8-molecule-ironic_boot_configuration: any of: ^roles/ironic_boot_configuration/.*
  tripleo-validations-centos-8-molecule-mysql_open_files_limit: any of: ^roles/mysql_open_files_limit/.*
  tripleo-validations-centos-8-molecule-network_environment: any of: ^roles/network_environment/.*
  tripleo-validations-centos-8-molecule-advanced_format_512e_support: any of: ^roles/advanced_format_512e_support/.*
  tripleo-validations-centos-8-molecule-dhcp_validations: any of: ^roles/dhcp_validations/.*
  tripleo-validations-centos-8-molecule-controller_token: any of: ^roles/controller_token/.*
  tripleo-validations-centos-8-molecule-controller_ulimits: any of: ^roles/controller_ulimits/.*
  tripleo-validations-centos-8-molecule-ctlplane_ip_range: any of: ^roles/ctlplane_ip_range/.*
  tripleo-validations-centos-8-molecule-dns: any of: ^roles/dns/.*
  tripleo-validations-centos-8-molecule-haproxy: any of: ^roles/haproxy/.*
  tripleo-validations-centos-8-molecule-repos: any of: ^roles/repos/.*
  tripleo-validations-centos-8-molecule-undercloud_cpu: any of: ^roles/undercloud_cpu/.*
  tripleo-validations-centos-8-molecule-undercloud_ram: any of: ^roles/undercloud_ram/.*
  tripleo-validations-centos-8-molecule-undercloud_debug: any of: ^roles/undercloud_debug/.*
  tripleo-validations-centos-8-molecule-undercloud_disk_space: any of: ^roles/undercloud_disk_space/.*
  tripleo-validations-centos-8-molecule-xfs_check_ftype: any of: ^roles/xfs_check_ftype/.*
  tripleo-validations-centos-8-molecule-nova_status: any of: ^roles/nova_status/.*
  tripleo-validations-centos-8-molecule-image_serve: any of: ^roles/image_serve/.*
  tripleo-validations-centos-8-molecule-check_network_gateway: any of: ^roles/check_network_gateway/.*
  tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted: any of: ^roles/undercloud_heat_purge_deleted/.*
  tripleo-validations-centos-8-molecule-undercloud_tokenflush: any of: ^roles/undercloud_tokenflush/.*
  tripleo-validations-centos-8-molecule-rabbitmq_limits: any of: ^roles/rabbitmq_limits/.*
  tripleo-validations-centos-8-molecule-stonith_exists: any of: ^roles/stonith_exists/.*
  tripleo-validations-centos-8-molecule-check_latest_packages_version: any of: ^roles/check_latest_packages_version/.*
  tripleo-validations-centos-8-molecule-validate_selinux: any of: ^roles/validate_selinux/.*
  tripleo-validations-centos-8-molecule-ceph: any of: ^roles/ceph/.*
  tripleo-validations-centos-8-molecule-system_encoding: any of: ^roles/system_encoding/.*
  tripleo-validations-centos-8-molecule-nova_svirt: any of: ^roles/nova_svirt/.*
  tripleo-validations-centos-8-molecule-package_version: any of: ^roles/package_version/.*

Correct how the image_serve validation works
  ansible-role-requirements.yml
  roles/image_serve/defaults/main.yaml
  roles/image_serve/molecule/default/converge.yml
  roles/image_serve/molecule/default/molecule.yml
  roles/image_serve/tasks/main.yaml
  roles/roles.galaxy/.gitkeep
  zuul.d/playbooks/pre.yml
  zuul.d/playbooks/run.yml
Due: tripleo-validations-centos-8-molecule-image_serve

Switch legacy Zuul jobs to native Zuul v3 jobs
  .zuul.yaml
  _skeleton_role_/molecule/default/molecule.yml
  ansible-role-requirements.yml
  ci/playbooks/pre.yml
  ci/playbooks/run-local.yml
  ci/playbooks/run.yml
  roles/ceph/molecule/ceph-ansible-installed/molecule.yml
  roles/ceph/molecule/default/molecule.yml
  roles/check_network_gateway/molecule/default/molecule.yml
  roles/controller_token/molecule/default/molecule.yml
  roles/controller_ulimits/molecule/default/molecule.yml
  roles/ctlplane_ip_range/molecule/default/molecule.yml
  roles/image_serve/molecule/default/molecule.yml
  roles/nova_status/molecule/default/molecule.yml
  roles/tls_everywhere/molecule/default/molecule.yml
  roles/undercloud_debug/molecule/default/molecule.yml
  roles/undercloud_heat_purge_deleted/molecule/default/molecule.yml
  roles/undercloud_process_count/molecule/default/molecule.yml
  roles/undercloud_tokenflush/molecule/default/molecule.yml
  roles/undercloud_tokenflush/molecule/non-persistent-token-format/molecule.yml
  scripts/run-local-test
  zuul.d/base.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-8-scenario004-standalone, tripleo-validations-centos-8-molecule-tls_everywhere, tripleo-validations-centos-8-molecule-undercloud_process_count, tripleo-validations-centos-8-molecule-controller_token, tripleo-validations-centos-8-molecule-controller_ulimits, tripleo-validations-centos-8-molecule-ctlplane_ip_range, tripleo-validations-centos-8-molecule-undercloud_debug, tripleo-validations-centos-8-molecule-nova_status, tripleo-validations-centos-8-molecule-image_serve, tripleo-validations-centos-8-molecule-check_network_gateway, tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted, tripleo-validations-centos-8-molecule-undercloud_tokenflush, tripleo-validations-centos-8-molecule-ceph

[ussuri] Migrate to content provider jobs/templates
  zuul.d/layout.yaml
Due: none

[train] Switch to content provider jobs/templates
  zuul.d/layout.yaml
Due: none

Remove ceph-pg from openstack tripleo validator run groups
  .ansible-lint
  playbooks/ceph-pg.yaml
Due: none

fix mixed up molecule tests
  roles/switch_vlans/molecule/default/converge.yml
  roles/tls_everywhere/molecule/default/converge.yml
  zuul.d/molecule.yaml
Due: tripleo-validations-centos-8-molecule-switch_vlans, tripleo-validations-centos-8-molecule-tls_everywhere

Add validation to verify the RHSM version.
  .zuul.yaml
  doc/source/roles/role-check_rhsm_version.rst
  playbooks/check-rhsm-version.yaml
  roles/check_rhsm_version/defaults/main.yml
  roles/check_rhsm_version/molecule/default/Dockerfile
  roles/check_rhsm_version/molecule/default/converge.yml
  roles/check_rhsm_version/molecule/default/molecule.yml
  roles/check_rhsm_version/molecule/rhsm_mismatch/Dockerfile
  roles/check_rhsm_version/molecule/rhsm_mismatch/converge.yml
  roles/check_rhsm_version/molecule/rhsm_mismatch/molecule.yml
  roles/check_rhsm_version/tasks/main.yml
Due: openstack-tox-docs, promote-openstack-tox-docs

Optimize container_cli usage by mysql-open-files-limit validation
  roles/mysql_open_files_limit/tasks/main.yml
Due: tripleo-validations-centos-8-molecule-mysql_open_files_limit

Refactor vif plugging validations
  roles/nova_event_callback/tasks/main.yml
Due: tripleo-validations-centos-8-molecule-nova_event_callback

Use the default flavor name when flavor parameter is not defined
  lookup_plugins/roles_info.py
Due: none

[train and before] Define default firewall_driver value
  roles/no_op_firewall_nova_driver/tasks/main.yml
Due: none

Move validation to content-provider based jobs
  .zuul.yaml
Due: none

[queens] Migrate to content provider jobs/templates
  zuul.d/layout.yaml
Due: none

[USSURI-ONLY] Remove undercloud_cpu molecule job from zuul jobs
  zuul.d/molecule.yaml
Due: none

Update .gitreview for stable/victoria
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: none

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

Add Python3 wallaby unit tests
  .zuul.yaml
Due: none

Replace deprecated UPPER_CONSTRAINTS_FILE variable
  tox.ini
Due: none

replace max_fds with sysctl call
  roles/rabbitmq_limits/tasks/main.yml
Due: tripleo-validations-centos-8-molecule-rabbitmq_limits

Remove callback plugin from tripleo-validation
  callback_plugins/.keep
  callback_plugins/fail_if_no_hosts.py
  callback_plugins/validation_json.py
  callback_plugins/validation_output.py
Due: none

Add validation to verify the RHSM version.
  doc/source/roles/role-check_rhsm_version.rst
  playbooks/check-rhsm-version.yaml
  roles/check_rhsm_version/defaults/main.yml
  roles/check_rhsm_version/molecule/default/Dockerfile
  roles/check_rhsm_version/molecule/default/converge.yml
  roles/check_rhsm_version/molecule/default/molecule.yml
  roles/check_rhsm_version/molecule/rhsm_mismatch/Dockerfile
  roles/check_rhsm_version/molecule/rhsm_mismatch/converge.yml
  roles/check_rhsm_version/molecule/rhsm_mismatch/molecule.yml
  roles/check_rhsm_version/tasks/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Make local molecule testing running.
  ci/playbooks/pre.yml
  ci/playbooks/run-local.yml
Due: none

Add a validation to check the local.
  doc/source/roles/role-system_encoding.rst
  playbooks/system_encoding.yaml
  roles/system_encoding/defaults/main.yml
  roles/system_encoding/molecule/default/Dockerfile
  roles/system_encoding/molecule/default/converge.yml
  roles/system_encoding/molecule/default/molecule.yml
  roles/system_encoding/tasks/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-validations-centos-8-molecule-system_encoding

Validation collect-flavors-and-verify-profiles bug
  library/check_flavors.py
Due: none

Fix conditionals/types in check_flavors and verify_profiles
  library/check_flavors.py
  library/verify_profiles.py
  releasenotes/notes/consider_existing_resources-addc5b2527d9db1b.yaml
Due: none
