Repository openstack-archive/tripleo-validations: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-docs, promote-openstack-tox-docs, tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles, tripleo-validations-centos-8-molecule-ceilometerdb_size, tripleo-validations-centos-8-molecule-neutron_sanity_check, tripleo-validations-centos-8-molecule-node_health, tripleo-validations-centos-8-molecule-nova_event_callback, tripleo-validations-centos-8-molecule-ovs_dpdk_pmd, tripleo-validations-centos-8-molecule-pacemaker_status, tripleo-validations-centos-8-molecule-stack_health, tripleo-validations-centos-8-molecule-switch_vlans, tripleo-validations-centos-8-molecule-tls_everywhere, tripleo-validations-centos-8-molecule-undercloud_process_count, tripleo-validations-centos-8-molecule-openstack_endpoints, tripleo-validations-centos-8-molecule-openshift_on_openstack, tripleo-validations-centos-8-molecule-node_disks, tripleo-validations-centos-8-molecule-container_status, tripleo-validations-centos-8-molecule-healthcheck_service_status, tripleo-validations-centos-8-molecule-ironic_boot_configuration, tripleo-validations-centos-8-molecule-mysql_open_files_limit, tripleo-validations-centos-8-molecule-network_environment, tripleo-validations-centos-8-molecule-dhcp_validations, tripleo-validations-centos-8-molecule-controller_token, tripleo-validations-centos-8-molecule-controller_ulimits, tripleo-validations-centos-8-molecule-ctlplane_ip_range, tripleo-validations-centos-8-molecule-repos, tripleo-validations-centos-8-molecule-undercloud_debug, tripleo-validations-centos-8-molecule-nova_status, tripleo-validations-centos-8-molecule-image_serve, tripleo-validations-centos-8-molecule-check_network_gateway, tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted, tripleo-validations-centos-8-molecule-undercloud_tokenflush, tripleo-validations-centos-8-molecule-rabbitmq_limits, tripleo-validations-centos-8-molecule-stonith_exists, tripleo-validations-centos-8-molecule-ceph, tripleo-validations-centos-8-molecule-nova_svirt, tripleo-validations-centos-8-molecule-system_encoding, tripleo-validations-centos-8-molecule-check_rhsm_version, tripleo-validations-centos-8-molecule-overcloud_service_status, tripleo-validations-centos-8-molecule-check_undercloud_conf, tripleo-validations-centos-8-molecule-check_uc_hostname, tripleo-validations-centos-8-molecule-check_for_dangling_images

tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: collect_flavors_and_verify_profiles
  voting: false

tripleo-validations-centos-8-molecule-ceilometerdb_size:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ceilometerdb_size
  voting: false

tripleo-validations-centos-8-molecule-neutron_sanity_check:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: neutron_sanity_check
  voting: false

tripleo-validations-centos-8-molecule-node_health:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: node_health
  voting: false

tripleo-validations-centos-8-molecule-nova_event_callback:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: nova_event_callback
  voting: false

tripleo-validations-centos-8-molecule-ovs_dpdk_pmd:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ovs_dpdk_pmd
  voting: false

tripleo-validations-centos-8-molecule-pacemaker_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: pacemaker_status
  voting: false

tripleo-validations-centos-8-molecule-stack_health:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: stack_health
  voting: false

tripleo-validations-centos-8-molecule-switch_vlans:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: switch_vlans
  voting: false

tripleo-validations-centos-8-molecule-tls_everywhere:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: tls_everywhere
  voting: false

tripleo-validations-centos-8-molecule-undercloud_process_count:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: undercloud_process_count
  voting: false

tripleo-validations-centos-8-molecule-openstack_endpoints:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: openstack_endpoints
  voting: false

tripleo-validations-centos-8-molecule-openshift_on_openstack:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: openshift_on_openstack
  voting: false

tripleo-validations-centos-8-molecule-node_disks:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: node_disks
  voting: false

tripleo-validations-centos-8-molecule-container_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: container_status
  voting: false

tripleo-validations-centos-8-molecule-healthcheck_service_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: healthcheck_service_status
  voting: false

tripleo-validations-centos-8-molecule-repos:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: repos

Use and ownership info for the node_disk module.
  library/node_disks.py
Due: none

Use and ownership info for the pacemaker module
  library/pacemaker.py
Due: none

Use and ownership info for the check_flavors module
  library/check_flavors.py
Due: none

Use and ownership info for the ip_range module.
  library/ip_range.py
Due: none

Introducing the oslo_config_validator role
  doc/source/roles/role-oslo_config_validator.rst
  playbooks/oslo-config-validator.yaml
  roles/oslo_config_validator/defaults/main.yml
  roles/oslo_config_validator/molecule/default/molecule.yml
  roles/oslo_config_validator/molecule/mocked_failure/molecule.yml
  roles/oslo_config_validator/resources/library/podman_container.py
  roles/oslo_config_validator/resources/library/podman_container_info.py
  roles/oslo_config_validator/resources/playbooks/converge.yml
  roles/oslo_config_validator/resources/playbooks/prepare.yml
  roles/oslo_config_validator/tasks/build_validation_config.yml
  roles/oslo_config_validator/tasks/container_run.yml
  roles/oslo_config_validator/tasks/invalidate_config.yml
  roles/oslo_config_validator/tasks/main.yml
  roles/oslo_config_validator/tasks/opt_data_format.yml
  roles/oslo_config_validator/tasks/report_generation.yml
  roles/oslo_config_validator/tasks/validate_config.yml
  roles/oslo_config_validator/tasks/validation_command.yml
  roles/oslo_config_validator/vars/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

[validation_init] add new metadata keys in the playbook template
  doc/source/contributing/developer_guide.rst
  roles/validation_init/tasks/main.yml
Due: openstack-tox-docs, promote-openstack-tox-docs

Correct the tox option for skipping sdist generation
  tox.ini
Due: none

Allow comments in variable files to be rendered in docs
  doc/requirements.txt
  doc/source/_exts/ansible-autodoc.py
Due: openstack-tox-docs, promote-openstack-tox-docs

Use OS_CLOUD environment variable
  scripts/tripleo-ansible-inventory
Due: none

Enabling indentation rule for yamllint.
  .yamllint
  zuul.d/base.yaml
  zuul.d/layout.yaml
  zuul.d/molecule.yaml
Due: none

Migrate back haproxy validation to tripleo-validations
  doc/source/modules/modules-tripleo_haproxy_conf.rst
  doc/source/roles/role-tripleo_haproxy.rst
  library/tripleo_haproxy_conf.py
  playbooks/tripleo-haproxy.yaml
  roles/tripleo_haproxy/defaults/main.yml
  roles/tripleo_haproxy/molecule/default/converge.yml
  roles/tripleo_haproxy/molecule/default/molecule.yml
  roles/tripleo_haproxy/tasks/main.yml
  tripleo_validations/tests/library/test_tripleo_haproxy_conf.py
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Enabling indentation rule for yamllint.
  .yamllint
  zuul.d/molecule.yaml
Due: none

Trigger molecule tests when modifying CI scripts
  role-addition.yml
  zuul.d/molecule.yaml
Due: none

Quick documentation content reorganization
  CONTRIBUTING.rst
  README.rst
  doc/source/_exts/generate_validations_doc.py
  doc/source/contributing.rst
  doc/source/contributing/contributing.rst
  doc/source/contributing/developer_guide.rst
  doc/source/groups.rst
  doc/source/index.rst
  doc/source/installation.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Introduce new Ansible validation_init role.
  .config/molecule/config.yml
  doc/source/contributing/developer_guide.rst
  doc/source/roles/role-validation_init.rst
  roles/validation_init/README.md
  roles/validation_init/defaults/main.yml
  roles/validation_init/files/_skeleton_role_/defaults/main.yml.j2
  roles/validation_init/files/_skeleton_role_/handlers/main.yml
  roles/validation_init/files/_skeleton_role_/molecule/default/converge.yml.j2
  roles/validation_init/files/_skeleton_role_/molecule/default/molecule.yml
  roles/validation_init/files/_skeleton_role_/molecule/default/prepare.yml
  roles/validation_init/files/_skeleton_role_/molecule/default/verify.yml
  roles/validation_init/files/_skeleton_role_/tasks/main.yml.j2
  roles/validation_init/files/_skeleton_role_/vars/main.yml.j2
  roles/validation_init/molecule/default/converge.yml
  roles/validation_init/molecule/default/molecule.yml
  roles/validation_init/molecule/default/prepare.yml
  roles/validation_init/molecule/default/verify.yml
  roles/validation_init/tasks/main.yml
  roles/validation_init/templates/README.md.j2
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Add Validation Development Workflow Documentation
  doc/source/contributing/developer_guide.rst
  doc/source/groups.rst
  doc/source/roles/role-check_for_dangling_images.rst
  doc/source/roles/role-check_rhsm_version.rst
  doc/source/roles/role-check_uc_hostname.rst
  doc/source/roles/role-check_undercloud_conf.rst
  doc/source/roles/role-package_version.rst
  doc/source/roles/role-system_encoding.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Compute TSX validation
  doc/source/roles/role-compute_tsx.rst
  playbooks/compute-tsx.yaml
  releasenotes/notes/compute-tsx-validation-5d976a3fc5166536.yaml
  roles/compute_tsx/README.md
  roles/compute_tsx/defaults/main.yml
  roles/compute_tsx/molecule/default/converge.yml
  roles/compute_tsx/molecule/default/molecule.yml
  roles/compute_tsx/tasks/main.yml
  roles/compute_tsx/vars/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Add Validation Development Workflow Documentation
  doc/source/contributing/developer_guide.rst
  doc/source/groups.rst
  doc/source/roles/role-check_for_dangling_images.rst
  doc/source/roles/role-check_kernel_version.rst
  doc/source/roles/role-check_rhsm_version.rst
  doc/source/roles/role-check_uc_hostname.rst
  doc/source/roles/role-check_undercloud_conf.rst
  doc/source/roles/role-package_version.rst
  doc/source/roles/role-system_encoding.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Remove from master the ceph-ansible references
  playbooks/ceph-ansible-installed.yaml
  roles/ceph/defaults/main.yml
  roles/ceph/molecule/ceph-ansible-installed/converge.yml
  roles/ceph/molecule/ceph-ansible-installed/molecule.yml
  roles/ceph/molecule/ceph-ansible-installed/prepare.yml
  roles/ceph/tasks/ceph-ansible-installed.yaml
Due: tripleo-validations-centos-8-molecule-ceph

Remove content-provider to decrease CI time
  zuul.d/layout.yaml
Due: none

Coverage change job
  ci/playbooks/coverchange.yaml
  zuul.d/base.yaml
  zuul.d/layout.yaml
Due: none

Add Validation Development Workflow Documentation
  doc/source/contributing/developer_guide.rst
  doc/source/groups.rst
  doc/source/roles/role-check_for_dangling_images.rst
  doc/source/roles/role-check_rhsm_version.rst
  doc/source/roles/role-check_uc_hostname.rst
  doc/source/roles/role-check_undercloud_conf.rst
  doc/source/roles/role-system_encoding.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Path conditions:
  openstack-tox-docs: any of: ^doc/.*, ^groups.yaml, ^molecule-requirements.txt, ^requirements.txt, ^README.rst
  promote-openstack-tox-docs: any of: ^doc/.*, ^groups.yaml, ^molecule-requirements.txt, ^requirements.txt, ^README.rst
  tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles: any of: ^roles/collect_flavors_and_verify_profiles/.*
  tripleo-validations-centos-8-molecule-ceilometerdb_size: any of: ^roles/ceilometerdb_size/.*
  tripleo-validations-centos-8-molecule-neutron_sanity_check: any of: ^roles/neutron_sanity_check/.*
  tripleo-validations-centos-8-molecule-node_health: any of: ^roles/node_health/.*
  tripleo-validations-centos-8-molecule-nova_event_callback: any of: ^roles/nova_event_callback/.*
  tripleo-validations-centos-8-molecule-ovs_dpdk_pmd: any of: ^roles/ovs_dpdk_pmd/.*
  tripleo-validations-centos-8-molecule-pacemaker_status: any of: ^roles/pacemaker_status/.*
  tripleo-validations-centos-8-molecule-stack_health: any of: ^roles/stack_health/.*
  tripleo-validations-centos-8-molecule-switch_vlans: any of: ^roles/switch_vlans/.*
  tripleo-validations-centos-8-molecule-tls_everywhere: any of: ^roles/tls_everywhere/.*
  tripleo-validations-centos-8-molecule-undercloud_process_count: any of: ^roles/undercloud_process_count/.*
  tripleo-validations-centos-8-molecule-openstack_endpoints: any of: ^roles/openstack_endpoints/.*
  tripleo-validations-centos-8-molecule-openshift_on_openstack: any of: ^roles/openshift_on_openstack/.*
  tripleo-validations-centos-8-molecule-node_disks: any of: ^roles/node_disks/.*
  tripleo-validations-centos-8-molecule-container_status: any of: ^roles/container_status/.*
  tripleo-validations-centos-8-molecule-healthcheck_service_status: any of: ^roles/healthcheck_service_status/.*
  tripleo-validations-centos-8-molecule-ironic_boot_configuration: any of: ^roles/ironic_boot_configuration/.*
  tripleo-validations-centos-8-molecule-mysql_open_files_limit: any of: ^roles/mysql_open_files_limit/.*
  tripleo-validations-centos-8-molecule-network_environment: any of: ^roles/network_environment/.*
  tripleo-validations-centos-8-molecule-dhcp_validations: any of: ^roles/dhcp_validations/.*
  tripleo-validations-centos-8-molecule-controller_token: any of: ^roles/controller_token/.*
  tripleo-validations-centos-8-molecule-controller_ulimits: any of: ^roles/controller_ulimits/.*
  tripleo-validations-centos-8-molecule-ctlplane_ip_range: any of: ^roles/ctlplane_ip_range/.*
  tripleo-validations-centos-8-molecule-repos: any of: ^roles/repos/.*
  tripleo-validations-centos-8-molecule-undercloud_debug: any of: ^roles/undercloud_debug/.*
  tripleo-validations-centos-8-molecule-nova_status: any of: ^roles/nova_status/.*
  tripleo-validations-centos-8-molecule-image_serve: any of: ^roles/image_serve/.*
  tripleo-validations-centos-8-molecule-check_network_gateway: any of: ^roles/check_network_gateway/.*
  tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted: any of: ^roles/undercloud_heat_purge_deleted/.*
  tripleo-validations-centos-8-molecule-undercloud_tokenflush: any of: ^roles/undercloud_tokenflush/.*
  tripleo-validations-centos-8-molecule-rabbitmq_limits: any of: ^roles/rabbitmq_limits/.*
  tripleo-validations-centos-8-molecule-stonith_exists: any of: ^roles/stonith_exists/.*
  tripleo-validations-centos-8-molecule-ceph: any of: ^roles/ceph/.*
  tripleo-validations-centos-8-molecule-nova_svirt: any of: ^roles/nova_svirt/.*
  tripleo-validations-centos-8-molecule-system_encoding: any of: ^roles/system_encoding/.*
  tripleo-validations-centos-8-molecule-check_rhsm_version: any of: ^roles/check_rhsm_version/.*
  tripleo-validations-centos-8-molecule-overcloud_service_status: any of: ^roles/overcloud_service_status/.*
  tripleo-validations-centos-8-molecule-check_undercloud_conf: any of: ^roles/check_undercloud_conf/.*
  tripleo-validations-centos-8-molecule-check_uc_hostname: any of: ^roles/check_uc_hostname/.*, ^tests/prepare-test-host.yml, ^ci/playbooks/pre.yml, ^ci/playbooks/run.yml
  tripleo-validations-centos-8-molecule-check_for_dangling_images: any of: ^roles/check_for_dangling_images/.*, ^tests/prepare-test-host.yml, ^ci/playbooks/pre.yml, ^ci/playbooks/run.yml
