Repository openstack-archive/tripleo-validations: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-docs, tripleo-ci-centos-8-scenario004-standalone, promote-openstack-tox-docs, tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles, tripleo-validations-centos-8-molecule-ceilometerdb_size, tripleo-validations-centos-8-molecule-neutron_sanity_check, tripleo-validations-centos-8-molecule-node_health, tripleo-validations-centos-8-molecule-nova_event_callback, tripleo-validations-centos-8-molecule-ovs_dpdk_pmd, tripleo-validations-centos-8-molecule-pacemaker_status, tripleo-validations-centos-8-molecule-stack_health, tripleo-validations-centos-8-molecule-switch_vlans, tripleo-validations-centos-8-molecule-tls_everywhere, tripleo-validations-centos-8-molecule-undercloud_process_count, tripleo-validations-centos-8-molecule-undercloud_selinux_mode, tripleo-validations-centos-8-molecule-openstack_endpoints, tripleo-validations-centos-8-molecule-ntp, tripleo-validations-centos-8-molecule-service_status, tripleo-validations-centos-8-molecule-openshift_on_openstack, tripleo-validations-centos-8-molecule-node_disks, tripleo-validations-centos-8-molecule-container_status, tripleo-validations-centos-8-molecule-healthcheck_service_status, tripleo-validations-centos-8-molecule-ironic_boot_configuration, tripleo-validations-centos-8-molecule-mysql_open_files_limit, tripleo-validations-centos-8-molecule-network_environment, tripleo-validations-centos-8-molecule-advanced_format_512e_support, tripleo-validations-centos-8-molecule-dhcp_validations, tripleo-validations-centos-8-molecule-controller_token, tripleo-validations-centos-8-molecule-controller_ulimits, tripleo-validations-centos-8-molecule-ctlplane_ip_range, tripleo-validations-centos-8-molecule-dns, tripleo-validations-centos-8-molecule-haproxy, tripleo-validations-centos-8-molecule-repos, tripleo-validations-centos-8-molecule-undercloud_cpu, tripleo-validations-centos-8-molecule-undercloud_ram, tripleo-validations-centos-8-molecule-undercloud_debug, tripleo-validations-centos-8-molecule-undercloud_disk_space, tripleo-validations-centos-8-molecule-xfs_check_ftype, tripleo-validations-centos-8-molecule-nova_status, tripleo-validations-centos-8-molecule-image_serve, tripleo-validations-centos-8-molecule-check_network_gateway, tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted, tripleo-validations-centos-8-molecule-undercloud_tokenflush, tripleo-validations-centos-8-molecule-rabbitmq_limits, tripleo-validations-centos-8-molecule-stonith_exists, tripleo-validations-centos-8-molecule-check_latest_packages_version, tripleo-validations-centos-8-molecule-validate_selinux, tripleo-validations-centos-8-molecule-ceph

tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: collect_flavors_and_verify_profiles
  voting: false

tripleo-validations-centos-8-molecule-ceilometerdb_size:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ceilometerdb_size
  voting: false

tripleo-validations-centos-8-molecule-neutron_sanity_check:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: neutron_sanity_check
  voting: false

tripleo-validations-centos-8-molecule-node_health:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: node_health
  voting: false

tripleo-validations-centos-8-molecule-nova_event_callback:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: nova_event_callback
  voting: false

tripleo-validations-centos-8-molecule-ovs_dpdk_pmd:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ovs_dpdk_pmd
  voting: false

tripleo-validations-centos-8-molecule-pacemaker_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: pacemaker_status
  voting: false

tripleo-validations-centos-8-molecule-stack_health:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: stack_health
  voting: false

tripleo-validations-centos-8-molecule-switch_vlans:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: switch_vlans
  voting: false

tripleo-validations-centos-8-molecule-tls_everywhere:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: tls_everywhere
  voting: false

tripleo-validations-centos-8-molecule-undercloud_process_count:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: undercloud_process_count
  voting: false

tripleo-validations-centos-8-molecule-undercloud_selinux_mode:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: undercloud_selinux_mode
  voting: false

tripleo-validations-centos-8-molecule-openstack_endpoints:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: openstack_endpoints
  voting: false

tripleo-validations-centos-8-molecule-ntp:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ntp
  voting: false

tripleo-validations-centos-8-molecule-service_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: service_status
  voting: false

tripleo-validations-centos-8-molecule-openshift_on_openstack:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: openshift_on_openstack
  voting: false

tripleo-validations-centos-8-molecule-node_disks:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: node_disks
  voting: false

Ensure virtualenv is installed.
  zuul.d/playbooks/pre.yml
Due: none

Fix ceph-ansible permissions when checking the repo name
  roles/ceph/tasks/ceph-ansible-installed.yaml
Due: tripleo-ci-centos-8-scenario004-standalone, tripleo-validations-centos-8-molecule-ceph

Make Get OSD stat percentage compatible with both Luminous and Nautilus
  roles/ceph/tasks/ceph-health.yaml
Due: tripleo-ci-centos-8-scenario004-standalone, tripleo-validations-centos-8-molecule-ceph

Remove mock as test requirement
  lower-constraints.txt
  test-requirements.txt
  tripleo_validations/tests/library/test_check_ironic_boot_config.py
  tripleo_validations/tests/library/test_check_package_update.py
  tripleo_validations/tests/library/test_ovs_dpdk_pmd_cpus_check.py
Due: none

Remove mock as test requirement
  tripleo_validations/tests/library/test_check_ironic_boot_config.py
  tripleo_validations/tests/library/test_check_package_update.py
  tripleo_validations/tests/library/test_ovs_dpdk_pmd_cpus_check.py
Due: none

Port jobs from centos7 to centos8
  zuul.d/layout.yaml
Due: none

Add a validation to check the local.
  doc/source/roles/role-system_encoding.rst
  playbooks/system_encoding.yaml
  roles/system_encoding/defaults/main.yml
  roles/system_encoding/molecule/default/Dockerfile
  roles/system_encoding/molecule/default/converge.yml
  roles/system_encoding/molecule/default/molecule.yml
  roles/system_encoding/tasks/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Ensures script is executable
  scripts/tripleo-validation.py
Due: none

Make Get OSD stat percentage compatible with jq < 1.5
  roles/ceph/tasks/ceph-health.yaml
Due: tripleo-ci-centos-8-scenario004-standalone, tripleo-validations-centos-8-molecule-ceph

Run validation only if overcloud exists.
  validations/openstack-endpoints.yaml
Due: none

Fix neutron_sanity_check for ML2/OVS overcloud
  playbooks/neutron-sanity-check.yaml
  roles/neutron_sanity_check/defaults/main.yml
  roles/neutron_sanity_check/tasks/main.yml
Due: tripleo-validations-centos-8-molecule-neutron_sanity_check

[QUEENS-ONLY] Update minimal disk space for undercloud
  validations/undercloud-disk-space.yaml
Due: none

Correct role name in generated playbook
  role-addition.yml
Due: none

Add new dependency for the tests: lxml
  lower-constraints.txt
  molecule-requirements.txt
Due: none

Updated "overcloud" to "allovercloud" group
  doc/source/readme.rst
  playbooks/ceph-dependencies-installed.yaml
  playbooks/check-ftype.yaml
  playbooks/container-status.yaml
  playbooks/dns.yaml
  playbooks/healthcheck-service-status.yaml
  playbooks/no-op.yaml
  playbooks/ntp.yaml
  playbooks/repos.yaml
  playbooks/service-status.yaml
  playbooks/tls-everywhere-post-deployment.yaml
  roles/node_health/tasks/main.yml
  roles/openshift_on_openstack/tasks/openshift-nw-requirements.yaml
  roles/openstack_endpoints/tasks/main.yml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-validations-centos-8-molecule-node_health, tripleo-validations-centos-8-molecule-openstack_endpoints, tripleo-validations-centos-8-molecule-openshift_on_openstack

Corrected work directory for validate-selinux
  playbooks/validate-selinux.yaml
Due: none

Allows to use custom role name for validations
  playbooks/controller-token.yaml
  playbooks/controller-ulimits.yaml
  playbooks/haproxy.yaml
  playbooks/mysql-open-files-limit.yaml
  playbooks/neutron-sanity-check.yaml
  playbooks/nova-event-callback.yaml
  playbooks/ovs-dpdk-pmd-cpus-check.yaml
  playbooks/pacemaker-status.yaml
  playbooks/rabbitmq-limits.yaml
  playbooks/stonith-exists.yaml
Due: none

Get UUID from ansible environment variables
  callback_plugins/validation_json.py
  doc/source/_exts/generate_validations_doc.py
Due: openstack-tox-docs, promote-openstack-tox-docs

Add new Upgrades validation groups.
  doc/source/index.rst
  groups.yaml
  role-addition.yml
Due: openstack-tox-docs, promote-openstack-tox-docs

Add os-cloud support for tripleo-ansible-inventory script
  scripts/tripleo-ansible-inventory
Due: none

Refactor vif plugging validations
  roles/nova_event_callback/tasks/main.yml
Due: tripleo-validations-centos-8-molecule-nova_event_callback

Clarify error message for Nova notification settings
  roles/nova_event_callback/tasks/main.yml
Due: tripleo-validations-centos-8-molecule-nova_event_callback

New validation: ensure we have access to the right package version
  doc/source/roles/role-package_version.rst
  playbooks/package-version.yaml
  roles/package_version/defaults/main.yaml
  roles/package_version/molecule/default/Dockerfile.j2
  roles/package_version/molecule/default/converge.yml
  roles/package_version/molecule/default/molecule.yml
  roles/package_version/tasks/compare.yaml
  roles/package_version/tasks/main.yaml
  roles/package_version/vars/centos.yml
  roles/package_version/vars/redhat-8.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Path conditions:
  openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-ci-centos-8-scenario004-standalone: any of: ^roles/ceph.*$
  promote-openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles: any of: ^roles/collect_flavors_and_verify_profiles/.*
  tripleo-validations-centos-8-molecule-ceilometerdb_size: any of: ^roles/ceilometerdb_size/.*
  tripleo-validations-centos-8-molecule-neutron_sanity_check: any of: ^roles/neutron_sanity_check/.*
  tripleo-validations-centos-8-molecule-node_health: any of: ^roles/node_health/.*
  tripleo-validations-centos-8-molecule-nova_event_callback: any of: ^roles/nova_event_callback/.*
  tripleo-validations-centos-8-molecule-ovs_dpdk_pmd: any of: ^roles/ovs_dpdk_pmd/.*
  tripleo-validations-centos-8-molecule-pacemaker_status: any of: ^roles/pacemaker_status/.*
  tripleo-validations-centos-8-molecule-stack_health: any of: ^roles/stack_health/.*
  tripleo-validations-centos-8-molecule-switch_vlans: any of: ^roles/switch_vlans/.*
  tripleo-validations-centos-8-molecule-tls_everywhere: any of: ^roles/tls_everywhere/.*
  tripleo-validations-centos-8-molecule-undercloud_process_count: any of: ^roles/undercloud_process_count/.*
  tripleo-validations-centos-8-molecule-undercloud_selinux_mode: any of: ^roles/undercloud_selinux_mode/.*
  tripleo-validations-centos-8-molecule-openstack_endpoints: any of: ^roles/openstack_endpoints/.*
  tripleo-validations-centos-8-molecule-ntp: any of: ^roles/ntp/.*
  tripleo-validations-centos-8-molecule-service_status: any of: ^roles/service_status/.*
  tripleo-validations-centos-8-molecule-openshift_on_openstack: any of: ^roles/openshift_on_openstack/.*
  tripleo-validations-centos-8-molecule-node_disks: any of: ^roles/node_disks/.*
  tripleo-validations-centos-8-molecule-container_status: any of: ^roles/container_status/.*
  tripleo-validations-centos-8-molecule-healthcheck_service_status: any of: ^roles/healthcheck_service_status/.*
  tripleo-validations-centos-8-molecule-ironic_boot_configuration: any of: ^roles/ironic_boot_configuration/.*
  tripleo-validations-centos-8-molecule-mysql_open_files_limit: any of: ^roles/mysql_open_files_limit/.*
  tripleo-validations-centos-8-molecule-network_environment: any of: ^roles/network_environment/.*
  tripleo-validations-centos-8-molecule-advanced_format_512e_support: any of: ^roles/advanced_format_512e_support/.*
  tripleo-validations-centos-8-molecule-dhcp_validations: any of: ^roles/dhcp_validations/.*
  tripleo-validations-centos-8-molecule-controller_token: any of: ^roles/controller_token/.*
  tripleo-validations-centos-8-molecule-controller_ulimits: any of: ^roles/controller_ulimits/.*
  tripleo-validations-centos-8-molecule-ctlplane_ip_range: any of: ^roles/ctlplane_ip_range/.*
  tripleo-validations-centos-8-molecule-dns: any of: ^roles/dns/.*
  tripleo-validations-centos-8-molecule-haproxy: any of: ^roles/haproxy/.*
  tripleo-validations-centos-8-molecule-repos: any of: ^roles/repos/.*
  tripleo-validations-centos-8-molecule-undercloud_cpu: any of: ^roles/undercloud_cpu/.*
  tripleo-validations-centos-8-molecule-undercloud_ram: any of: ^roles/undercloud_ram/.*
  tripleo-validations-centos-8-molecule-undercloud_debug: any of: ^roles/undercloud_debug/.*
  tripleo-validations-centos-8-molecule-undercloud_disk_space: any of: ^roles/undercloud_disk_space/.*
  tripleo-validations-centos-8-molecule-xfs_check_ftype: any of: ^roles/xfs_check_ftype/.*
  tripleo-validations-centos-8-molecule-nova_status: any of: ^roles/nova_status/.*
  tripleo-validations-centos-8-molecule-image_serve: any of: ^roles/image_serve/.*
  tripleo-validations-centos-8-molecule-check_network_gateway: any of: ^roles/check_network_gateway/.*
  tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted: any of: ^roles/undercloud_heat_purge_deleted/.*
  tripleo-validations-centos-8-molecule-undercloud_tokenflush: any of: ^roles/undercloud_tokenflush/.*
  tripleo-validations-centos-8-molecule-rabbitmq_limits: any of: ^roles/rabbitmq_limits/.*
  tripleo-validations-centos-8-molecule-stonith_exists: any of: ^roles/stonith_exists/.*
  tripleo-validations-centos-8-molecule-check_latest_packages_version: any of: ^roles/check_latest_packages_version/.*
  tripleo-validations-centos-8-molecule-validate_selinux: any of: ^roles/validate_selinux/.*
  tripleo-validations-centos-8-molecule-ceph: any of: ^roles/ceph/.*
