Repository openstack-archive/tripleo-validations: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-docs, tripleo-ci-centos-8-scenario004-standalone, promote-openstack-tox-docs, tripleo-validations-centos-7-molecule-controller-token, tripleo-validations-centos-7-molecule-controller-ulimits, tripleo-validations-centos-7-molecule-ctlplane-ip-range, tripleo-validations-centos-7-molecule-dns, tripleo-validations-centos-7-molecule-haproxy, tripleo-validations-centos-7-molecule-repos, tripleo-validations-centos-7-molecule-undercloud-cpu, tripleo-validations-centos-7-molecule-undercloud-ram, tripleo-validations-centos-7-molecule-undercloud-debug, tripleo-validations-centos-7-molecule-undercloud-disk-space, tripleo-validations-centos-7-molecule-xfs-check-ftype, tripleo-validations-centos-7-molecule-no-op-firewall-nova-driver

Path conditions:
  openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-ci-centos-8-scenario004-standalone: any of: ^roles/ceph.*$
  promote-openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-validations-centos-7-molecule-controller-token: any of: ^roles/controller-token/.*
  tripleo-validations-centos-7-molecule-controller-ulimits: any of: ^roles/controller-ulimits/.*
  tripleo-validations-centos-7-molecule-ctlplane-ip-range: any of: ^roles/ctlplane-ip-range/.*
  tripleo-validations-centos-7-molecule-dns: any of: ^roles/dns/.*
  tripleo-validations-centos-7-molecule-haproxy: any of: ^roles/haproxy/.*
  tripleo-validations-centos-7-molecule-repos: any of: ^roles/repos/.*
  tripleo-validations-centos-7-molecule-undercloud-cpu: any of: ^roles/undercloud-cpu/.*
  tripleo-validations-centos-7-molecule-undercloud-ram: any of: ^roles/undercloud-ram/.*
  tripleo-validations-centos-7-molecule-undercloud-debug: any of: ^roles/undercloud-debug/.*
  tripleo-validations-centos-7-molecule-undercloud-disk-space: any of: ^roles/undercloud-disk-space/.*
  tripleo-validations-centos-7-molecule-xfs-check-ftype: any of: ^roles/xfs-check-ftype/.*
  tripleo-validations-centos-7-molecule-no-op-firewall-nova-driver: any of: ^roles/no-op-firewall-nova-driver/.*

Update hacking for Python3
  test-requirements.txt
Due: none

Update to hacking 3.0
  test-requirements.txt
Due: none

tripleo-validations failing on lower constraints
  lower-constraints.txt
  requirements.txt
Due: none

Fix multistack inventory
  scripts/tripleo-ansible-inventory
Due: none

Cleanup py27 support
  doc/requirements.txt
  lower-constraints.txt
  setup.cfg
  setup.py
  test-requirements.txt
  tox.ini
Due: openstack-tox-docs, promote-openstack-tox-docs

Remove fwaas_driver.ini from neutron sanity checks
  playbooks/neutron-sanity-check.yaml
  playbooks/undercloud-neutron-sanity-check.yaml
  roles/neutron_sanity_check/defaults/main.yml
Due: none

Switch install-docker with ensure-docker
  zuul.d/playbooks/pre.yml
Due: none

Validation collect-flavors-and-verify-profiles bug
  library/check_flavors.py
Due: none

Introducing tripleo_delegate_to on ceph health validation
  playbooks/ceph-health.yaml
  roles/ceph/defaults/main.yml
  roles/ceph/tasks/ceph-health.yaml
Due: tripleo-ci-centos-8-scenario004-standalone

Update the tox minversion parameter.
  tox.ini
Due: none

Ensure we don't pass an empty role_name
  role-addition.yml
Due: none

Fix CentOS8 Migration leftover
  role-addition.yml
  zuul.d/molecule.yaml
Due: none

Remove the post-introspection group.
  role-addition.yml
Due: none

Improve the ceph-ansible repository error message
  roles/ceph/tasks/ceph-ansible-installed.yaml
Due: tripleo-ci-centos-8-scenario004-standalone

Add deployment groups.
  role-addition.yml
Due: none

Introducing tripleo_delegate_to on ceph health validation
  playbooks/ceph-health.yaml
  roles/ceph/defaults/main.yml
  roles/ceph/tasks/ceph-health.yaml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-8-scenario004-standalone

Fix container client variable name
  roles/ceph/tasks/ceph-health.yaml
Due: tripleo-ci-centos-8-scenario004-standalone

Get UUID from ansible environment variables
  callback_plugins/validation_json.py
  doc/source/_exts/generate_validations_doc.py
Due: openstack-tox-docs, promote-openstack-tox-docs

Avoid broken dogpile.cache
  doc/source/_exts/generate_validations_doc.py
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

Remove the useless pytest import.
  tests/test_molecule.py
Due: none

Update python version.
  lower-constraints.txt
  setup.cfg
  tox.ini
Due: none

Update .gitreview for stable/ussuri
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: none

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  zuul.d/layout.yaml
Due: none

Stop to use the __future__ module.
  callback_plugins/validation_json.py
  callback_plugins/validation_output.py
  library/docker_facts.py
  scripts/tripleo-ansible-inventory
  tripleo_validations/utils.py
Due: none

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
  test-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

Update Ceph role's Get OSD stat to use new data structure
  roles/ceph/tasks/ceph-health.yaml
Due: tripleo-ci-centos-8-scenario004-standalone

Update openstackdocstheme.
  doc/requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

remove non-voting ceph validation from gate
  zuul.d/molecule.yaml
Due: none

Don't write playbook stats in binary mode
  callback_plugins/validation_json.py
Due: none

Add TripleO validation CLI script
  scripts/tripleo-validation.py
Due: none

Fix ceph-ansible permissions when checking the repo name
  roles/ceph/tasks/ceph-ansible-installed.yaml
Due: tripleo-ci-centos-8-scenario004-standalone

Add "mock" in test-requirements and lower-constraints
  lower-constraints.txt
  test-requirements.txt
Due: none

Add tripleo-validation.py as script in setup.cfg
  setup.cfg
Due: none
