Repository openstack-archive/tripleo-validations: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-docs, promote-openstack-tox-docs, tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles, tripleo-validations-centos-8-molecule-ceilometerdb_size, tripleo-validations-centos-8-molecule-neutron_sanity_check, tripleo-validations-centos-8-molecule-node_health, tripleo-validations-centos-8-molecule-nova_event_callback, tripleo-validations-centos-8-molecule-ovs_dpdk_pmd, tripleo-validations-centos-8-molecule-pacemaker_status, tripleo-validations-centos-8-molecule-stack_health, tripleo-validations-centos-8-molecule-switch_vlans, tripleo-validations-centos-8-molecule-tls_everywhere, tripleo-validations-centos-8-molecule-undercloud_process_count, tripleo-validations-centos-8-molecule-undercloud_selinux_mode, tripleo-validations-centos-8-molecule-openstack_endpoints, tripleo-validations-centos-8-molecule-ntp, tripleo-validations-centos-8-molecule-service_status, tripleo-validations-centos-8-molecule-openshift_on_openstack, tripleo-validations-centos-8-molecule-node_disks, tripleo-validations-centos-8-molecule-container_status, tripleo-validations-centos-8-molecule-healthcheck_service_status, tripleo-validations-centos-8-molecule-ironic_boot_configuration, tripleo-validations-centos-8-molecule-mysql_open_files_limit, tripleo-validations-centos-8-molecule-network_environment, tripleo-validations-centos-8-molecule-advanced_format_512e_support, tripleo-validations-centos-8-molecule-dhcp_validations, tripleo-validations-centos-8-molecule-controller_token, tripleo-validations-centos-8-molecule-controller_ulimits, tripleo-validations-centos-8-molecule-ctlplane_ip_range, tripleo-validations-centos-8-molecule-dns, tripleo-validations-centos-8-molecule-haproxy, tripleo-validations-centos-8-molecule-repos, tripleo-validations-centos-8-molecule-undercloud_cpu, tripleo-validations-centos-8-molecule-undercloud_ram, tripleo-validations-centos-8-molecule-undercloud_debug, tripleo-validations-centos-8-molecule-undercloud_disk_space, tripleo-validations-centos-8-molecule-xfs_check_ftype, tripleo-validations-centos-8-molecule-nova_status, tripleo-validations-centos-8-molecule-image_serve, tripleo-validations-centos-8-molecule-check_network_gateway, tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted, tripleo-validations-centos-8-molecule-undercloud_tokenflush, tripleo-validations-centos-8-molecule-rabbitmq_limits, tripleo-validations-centos-8-molecule-stonith_exists, tripleo-validations-centos-8-molecule-check_latest_packages_version, tripleo-validations-centos-8-molecule-validate_selinux, tripleo-validations-centos-8-molecule-ceph, tripleo-validations-centos-8-molecule-system_encoding, tripleo-validations-centos-8-molecule-nova_svirt, tripleo-validations-centos-8-molecule-package_version

tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: collect_flavors_and_verify_profiles
  voting: false

tripleo-validations-centos-8-molecule-ceilometerdb_size:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ceilometerdb_size
  voting: false

tripleo-validations-centos-8-molecule-neutron_sanity_check:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: neutron_sanity_check
  voting: false

tripleo-validations-centos-8-molecule-node_health:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: node_health
  voting: false

tripleo-validations-centos-8-molecule-nova_event_callback:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: nova_event_callback
  voting: false

tripleo-validations-centos-8-molecule-ovs_dpdk_pmd:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ovs_dpdk_pmd
  voting: false

tripleo-validations-centos-8-molecule-pacemaker_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: pacemaker_status
  voting: false

tripleo-validations-centos-8-molecule-stack_health:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: stack_health
  voting: false

tripleo-validations-centos-8-molecule-switch_vlans:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: switch_vlans
  voting: false

tripleo-validations-centos-8-molecule-tls_everywhere:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: tls_everywhere
  voting: true

tripleo-validations-centos-8-molecule-undercloud_process_count:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: undercloud_process_count
  voting: false

tripleo-validations-centos-8-molecule-undercloud_selinux_mode:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: undercloud_selinux_mode
  voting: false

tripleo-validations-centos-8-molecule-openstack_endpoints:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: openstack_endpoints
  voting: false

tripleo-validations-centos-8-molecule-ntp:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ntp
  voting: false

tripleo-validations-centos-8-molecule-service_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: service_status
  voting: false

tripleo-validations-centos-8-molecule-openshift_on_openstack:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: openshift_on_openstack
  voting: false

tripleo-validations-centos-8-molecule-node_disks:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: node_disks
  voting: false

Add validation to check DockerInsecureRegistryAddress matches the UC hostname
  doc/source/roles/role-check_uc_hostname.rst
  playbooks/check-uc-hostname.yaml
  roles/check_uc_hostname/README.md
  roles/check_uc_hostname/defaults/main.yml
  roles/check_uc_hostname/molecule/default/Dockerfile
  roles/check_uc_hostname/molecule/default/converge.yml
  roles/check_uc_hostname/molecule/default/molecule.yml
  roles/check_uc_hostname/molecule/default/prepare.yml
  roles/check_uc_hostname/tasks/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Check for dangling images
  doc/source/roles/role-check_for_dangling_images.rst
  playbooks/check-for-dangling-images.yaml
  roles/check_for_dangling_images/README.md
  roles/check_for_dangling_images/defaults/main.yml
  roles/check_for_dangling_images/molecule/default/Dockerfile
  roles/check_for_dangling_images/molecule/default/converge.yml
  roles/check_for_dangling_images/molecule/default/molecule.yml
  roles/check_for_dangling_images/tasks/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Increasing number of files triggering build of docs
  tox.ini
  zuul.d/layout.yaml
Due: none

Trigger molecule jobs when modifying molecule-requirements.txt file
  zuul.d/molecule.yaml
Due: none

[overcloud-service-status] Removing pre-upgrade
  playbooks/overcloud-service-status.yaml
  roles/overcloud_service_status/vars/main.yml
Due: none

Add py39 jobs
  tox.ini
  zuul.d/layout.yaml
Due: none

Update .gitreview for stable/wallaby
  .gitreview
Due: none

Bump molecule to 3.3.1
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

Basic tests for pacemaker module
  tripleo_validations/tests/library/test_pacemaker.py
Due: none

Basic tests for check_flavors module
  tripleo_validations/tests/fakes.py
  tripleo_validations/tests/library/test_check_flavors.py
Due: none

[train-only] Set container_client for checks during ffu
  roles/nova_status/molecule/default/converge.yml
  roles/nova_status/tasks/main.yml
Due: tripleo-validations-centos-8-molecule-nova_status

[train-only] Inventory doesn't contain admin password
  tripleo_validations/utils.py
Due: none

Use validation_component for Standalone CI jobs
  molecule-requirements.txt
  zuul.d/base.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

[train-only] Set oc_container_cli for checks during ffu
  roles/container_status/tasks/main.yaml
Due: tripleo-validations-centos-8-molecule-container_status

Removing python-tripleoclient
  requirements.txt
  test-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

requirements-check enabled
  zuul.d/layout.yaml
Due: none

Use and ownership info for the network_environment module
  library/network_environment.py
Due: none

Use and ownership info for the switch_vlans module
  library/switch_vlans.py
Due: none

Use and ownership info for the verify_profiles module
  library/verify_profiles.py
Due: none

Use validation_component for Standalone CI jobs
  zuul.d/base.yaml
Due: none

Path conditions:
  openstack-tox-docs: any of: ^doc/.*, ^groups.yaml, ^molecule-requirements.txt, ^requirements.txt, ^README.rst
  promote-openstack-tox-docs: any of: ^doc/.*, ^groups.yaml, ^molecule-requirements.txt, ^requirements.txt, ^README.rst
  tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles: any of: ^roles/collect_flavors_and_verify_profiles/.*
  tripleo-validations-centos-8-molecule-ceilometerdb_size: any of: ^roles/ceilometerdb_size/.*
  tripleo-validations-centos-8-molecule-neutron_sanity_check: any of: ^roles/neutron_sanity_check/.*
  tripleo-validations-centos-8-molecule-node_health: any of: ^roles/node_health/.*
  tripleo-validations-centos-8-molecule-nova_event_callback: any of: ^roles/nova_event_callback/.*
  tripleo-validations-centos-8-molecule-ovs_dpdk_pmd: any of: ^roles/ovs_dpdk_pmd/.*
  tripleo-validations-centos-8-molecule-pacemaker_status: any of: ^roles/pacemaker_status/.*
  tripleo-validations-centos-8-molecule-stack_health: any of: ^roles/stack_health/.*
  tripleo-validations-centos-8-molecule-switch_vlans: any of: ^roles/switch_vlans/.*
  tripleo-validations-centos-8-molecule-tls_everywhere: any of: ^roles/tls_everywhere/.*
  tripleo-validations-centos-8-molecule-undercloud_process_count: any of: ^roles/undercloud_process_count/.*
  tripleo-validations-centos-8-molecule-undercloud_selinux_mode: any of: ^roles/undercloud_selinux_mode/.*
  tripleo-validations-centos-8-molecule-openstack_endpoints: any of: ^roles/openstack_endpoints/.*
  tripleo-validations-centos-8-molecule-ntp: any of: ^roles/ntp/.*
  tripleo-validations-centos-8-molecule-service_status: any of: ^roles/service_status/.*
  tripleo-validations-centos-8-molecule-openshift_on_openstack: any of: ^roles/openshift_on_openstack/.*
  tripleo-validations-centos-8-molecule-node_disks: any of: ^roles/node_disks/.*
  tripleo-validations-centos-8-molecule-container_status: any of: ^roles/container_status/.*
  tripleo-validations-centos-8-molecule-healthcheck_service_status: any of: ^roles/healthcheck_service_status/.*
  tripleo-validations-centos-8-molecule-ironic_boot_configuration: any of: ^roles/ironic_boot_configuration/.*
  tripleo-validations-centos-8-molecule-mysql_open_files_limit: any of: ^roles/mysql_open_files_limit/.*
  tripleo-validations-centos-8-molecule-network_environment: any of: ^roles/network_environment/.*
  tripleo-validations-centos-8-molecule-advanced_format_512e_support: any of: ^roles/advanced_format_512e_support/.*
  tripleo-validations-centos-8-molecule-dhcp_validations: any of: ^roles/dhcp_validations/.*
  tripleo-validations-centos-8-molecule-controller_token: any of: ^roles/controller_token/.*
  tripleo-validations-centos-8-molecule-controller_ulimits: any of: ^roles/controller_ulimits/.*
  tripleo-validations-centos-8-molecule-ctlplane_ip_range: any of: ^roles/ctlplane_ip_range/.*
  tripleo-validations-centos-8-molecule-dns: any of: ^roles/dns/.*
  tripleo-validations-centos-8-molecule-haproxy: any of: ^roles/haproxy/.*
  tripleo-validations-centos-8-molecule-repos: any of: ^roles/repos/.*
  tripleo-validations-centos-8-molecule-undercloud_cpu: any of: ^roles/undercloud_cpu/.*
  tripleo-validations-centos-8-molecule-undercloud_ram: any of: ^roles/undercloud_ram/.*
  tripleo-validations-centos-8-molecule-undercloud_debug: any of: ^roles/undercloud_debug/.*
  tripleo-validations-centos-8-molecule-undercloud_disk_space: any of: ^roles/undercloud_disk_space/.*
  tripleo-validations-centos-8-molecule-xfs_check_ftype: any of: ^roles/xfs_check_ftype/.*
  tripleo-validations-centos-8-molecule-nova_status: any of: ^roles/nova_status/.*
  tripleo-validations-centos-8-molecule-image_serve: any of: ^roles/image_serve/.*
  tripleo-validations-centos-8-molecule-check_network_gateway: any of: ^roles/check_network_gateway/.*
  tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted: any of: ^roles/undercloud_heat_purge_deleted/.*
  tripleo-validations-centos-8-molecule-undercloud_tokenflush: any of: ^roles/undercloud_tokenflush/.*
  tripleo-validations-centos-8-molecule-rabbitmq_limits: any of: ^roles/rabbitmq_limits/.*
  tripleo-validations-centos-8-molecule-stonith_exists: any of: ^roles/stonith_exists/.*
  tripleo-validations-centos-8-molecule-check_latest_packages_version: any of: ^roles/check_latest_packages_version/.*
  tripleo-validations-centos-8-molecule-validate_selinux: any of: ^roles/validate_selinux/.*
  tripleo-validations-centos-8-molecule-ceph: any of: ^roles/ceph/.*
  tripleo-validations-centos-8-molecule-system_encoding: any of: ^roles/system_encoding/.*
  tripleo-validations-centos-8-molecule-nova_svirt: any of: ^roles/nova_svirt/.*
  tripleo-validations-centos-8-molecule-package_version: any of: ^roles/package_version/.*
