Repository openstack-archive/tripleo-validations: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-docs, tripleo-ci-centos-8-scenario004-standalone, promote-openstack-tox-docs, tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles, tripleo-validations-centos-8-molecule-ceilometerdb_size, tripleo-validations-centos-8-molecule-neutron_sanity_check, tripleo-validations-centos-8-molecule-node_health, tripleo-validations-centos-8-molecule-nova_event_callback, tripleo-validations-centos-8-molecule-ovs_dpdk_pmd, tripleo-validations-centos-8-molecule-pacemaker_status, tripleo-validations-centos-8-molecule-stack_health, tripleo-validations-centos-8-molecule-switch_vlans, tripleo-validations-centos-8-molecule-tls_everywhere, tripleo-validations-centos-8-molecule-undercloud_process_count, tripleo-validations-centos-8-molecule-undercloud_selinux_mode, tripleo-validations-centos-8-molecule-openstack_endpoints, tripleo-validations-centos-8-molecule-ntp, tripleo-validations-centos-8-molecule-service_status, tripleo-validations-centos-8-molecule-openshift_on_openstack, tripleo-validations-centos-8-molecule-node_disks, tripleo-validations-centos-8-molecule-container_status, tripleo-validations-centos-8-molecule-healthcheck_service_status, tripleo-validations-centos-8-molecule-ironic_boot_configuration, tripleo-validations-centos-8-molecule-mysql_open_files_limit, tripleo-validations-centos-8-molecule-network_environment, tripleo-validations-centos-8-molecule-advanced_format_512e_support, tripleo-validations-centos-8-molecule-dhcp_validations, tripleo-validations-centos-8-molecule-controller_token, tripleo-validations-centos-8-molecule-controller_ulimits, tripleo-validations-centos-8-molecule-ctlplane_ip_range, tripleo-validations-centos-8-molecule-dns, tripleo-validations-centos-8-molecule-haproxy, tripleo-validations-centos-8-molecule-repos, tripleo-validations-centos-8-molecule-undercloud_cpu, tripleo-validations-centos-8-molecule-undercloud_ram, tripleo-validations-centos-8-molecule-undercloud_debug, tripleo-validations-centos-8-molecule-undercloud_disk_space, tripleo-validations-centos-8-molecule-xfs_check_ftype, tripleo-validations-centos-8-molecule-nova_status, tripleo-validations-centos-8-molecule-image_serve, tripleo-validations-centos-8-molecule-check_network_gateway, tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted, tripleo-validations-centos-8-molecule-undercloud_tokenflush, tripleo-validations-centos-8-molecule-rabbitmq_limits, tripleo-validations-centos-8-molecule-stonith_exists, tripleo-validations-centos-8-molecule-check_latest_packages_version, tripleo-validations-centos-8-molecule-validate_selinux, tripleo-validations-centos-8-molecule-ceph

tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: collect_flavors_and_verify_profiles
  voting: false

tripleo-validations-centos-8-molecule-ceilometerdb_size:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ceilometerdb_size
  voting: false

tripleo-validations-centos-8-molecule-neutron_sanity_check:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: neutron_sanity_check
  voting: false

tripleo-validations-centos-8-molecule-node_health:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: node_health
  voting: false

tripleo-validations-centos-8-molecule-nova_event_callback:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: nova_event_callback
  voting: false

tripleo-validations-centos-8-molecule-ovs_dpdk_pmd:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ovs_dpdk_pmd
  voting: false

tripleo-validations-centos-8-molecule-pacemaker_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: pacemaker_status
  voting: false

tripleo-validations-centos-8-molecule-stack_health:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: stack_health
  voting: false

tripleo-validations-centos-8-molecule-switch_vlans:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: switch_vlans
  voting: false

tripleo-validations-centos-8-molecule-tls_everywhere:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: tls_everywhere
  voting: false

tripleo-validations-centos-8-molecule-undercloud_process_count:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: undercloud_process_count
  voting: false

tripleo-validations-centos-8-molecule-undercloud_selinux_mode:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: undercloud_selinux_mode
  voting: false

tripleo-validations-centos-8-molecule-openstack_endpoints:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: openstack_endpoints
  voting: false

tripleo-validations-centos-8-molecule-ntp:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: ntp
  voting: false

tripleo-validations-centos-8-molecule-service_status:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: service_status
  voting: false

tripleo-validations-centos-8-molecule-openshift_on_openstack:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: openshift_on_openstack
  voting: false

tripleo-validations-centos-8-molecule-node_disks:
  parent: tripleo-validations-centos-8-base
  vars:
    tripleo_validations_role_name: node_disks
  voting: false

New validation: Ensure sVirt is active
  doc/source/roles/role-nova_svirt.rst
  playbooks/nova-svirt.yaml
  roles/nova_svirt/defaults/main.yml
  roles/nova_svirt/molecule/default/Dockerfile
  roles/nova_svirt/molecule/default/converge.yml
  roles/nova_svirt/molecule/default/molecule.yml
  roles/nova_svirt/molecule/default/prepare.yml
  roles/nova_svirt/tasks/main.yml
  roles/nova_svirt/tasks/validate.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Add new Upgrades validation groups.
  doc/source/index.rst
  groups.yaml
  role-addition.yml
Due: openstack-tox-docs, promote-openstack-tox-docs

Add new Upgrades validation groups.
  doc/source/index.rst
  groups.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Add validation to check status of ipa server
  roles/tls_everywhere/defaults/main.yml
  roles/tls_everywhere/molecule/default/converge.yml
  roles/tls_everywhere/molecule/default/prepare.yml
  roles/tls_everywhere/tasks/ipa-server-check.yaml
  roles/tls_everywhere/vars/main.yml
  zuul.d/molecule.yaml
Due: tripleo-validations-centos-8-molecule-tls_everywhere

Change path for validation Ansible files
  scripts/tripleo-validation.py
  setup.cfg
Due: none

Switch install-docker with ensure-docker
  zuul.d/playbooks/pre.yml
Due: none

Use importlib to take place of imp module
  doc/source/_exts/ansible-autodoc.py
Due: openstack-tox-docs, promote-openstack-tox-docs

Updated playbook metadata for package-version
  playbooks/package-version.yaml
Due: none

Add validation to check status of ipa server
  roles/switch_vlans/molecule/default/playbook.yml
  roles/tls_everywhere/defaults/main.yml
  roles/tls_everywhere/molecule/default/prepare.yml
  roles/tls_everywhere/tasks/ipa-server-check.yaml
  roles/tls_everywhere/vars/main.yml
  zuul.d/molecule.yaml
Due: tripleo-validations-centos-8-molecule-switch_vlans, tripleo-validations-centos-8-molecule-tls_everywhere

Migrate molecule jobs from centos 7 to 8
  bindep.txt
  scripts/bindep-install
  tools/test-setup.sh
  zuul.d/base.yaml
  zuul.d/molecule.yaml
Due: none

Fix lower-constraints errors
  bindep.txt
  lower-constraints.txt
  test-requirements.txt
Due: none

New validation: ensure we have access to the right package version
  doc/source/roles/role-package_version.rst
  playbooks/package-version.yaml
  roles/package_version/defaults/main.yaml
  roles/package_version/molecule/default/Dockerfile.j2
  roles/package_version/molecule/default/converge.yml
  roles/package_version/molecule/default/molecule.yml
  roles/package_version/tasks/compare.yaml
  roles/package_version/tasks/main.yaml
  roles/package_version/vars/centos.yml
  roles/package_version/vars/redhat-8.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Revert "Change path for validation Ansible files"
  scripts/tripleo-validation.py
  setup.cfg
Due: none

Ensure we get a prefix for validation roles
  role-addition.yml
Due: none

Fix hacking min version to 3.0.1
  test-requirements.txt
Due: none

Add ipa-server-check pre-upgrade validation
  playbooks/undercloud-ipa-server-check.yaml
Due: none

Remove callback plugin from tripleo-validation
  callback_plugins/.keep
  callback_plugins/fail_if_no_hosts.py
  callback_plugins/validation_json.py
  callback_plugins/validation_output.py
Due: none

Revert "Revert "Change path for validation Ansible files""
  scripts/tripleo-validation.py
  setup.cfg
Due: none

Remove duplication in molecule gate jobs
  zuul.d/molecule.yaml
Due: none

Docs: Replace tags heading with a real heading
  README.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Docs: Use correct spec link
  README.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Add TripleO validation CLI script
  scripts/tripleo-validation.py
Due: none

Add tripleo-validation.py as script in setup.cfg
  setup.cfg
Due: none

Ensures script is executable
  scripts/tripleo-validation.py
Due: none

After leapp has been run, verify that the kernel has been upgraded.
  doc/source/roles/role-check_kernel_version.rst
  playbooks/check-kernel-version.yaml
  roles/check_kernel_version/defaults/main.yml
  roles/check_kernel_version/molecule/default/Dockerfile.j2
  roles/check_kernel_version/molecule/default/converge.yml
  roles/check_kernel_version/molecule/default/molecule.yml
  roles/check_kernel_version/tasks/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Correct how the image_serve validation works
  ansible-role-requirements.yml
  roles/image_serve/defaults/main.yaml
  roles/image_serve/molecule/default/converge.yml
  roles/image_serve/molecule/default/molecule.yml
  roles/image_serve/tasks/main.yaml
  roles/roles.galaxy/.gitkeep
  zuul.d/playbooks/pre.yml
  zuul.d/playbooks/run.yml
Due: tripleo-validations-centos-8-molecule-image_serve

Retire containerized_undercloud_docker validation
  doc/source/modules/modules-docker_facts.rst
  doc/source/roles/role-containerized_undercloud_docker.rst
  library/docker_facts.py
  playbooks/containerized-undercloud-docker.yaml
  roles/containerized_undercloud_docker/defaults/main.yml
  roles/containerized_undercloud_docker/tasks/main.yml
  roles/containerized_undercloud_docker/vars/main.yml
Due: openstack-tox-docs, promote-openstack-tox-docs

Bumps pre-commit config
  .pre-commit-config.yaml
Due: none

Path conditions:
  openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-ci-centos-8-scenario004-standalone: any of: ^roles/ceph.*$
  promote-openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles: any of: ^roles/collect_flavors_and_verify_profiles/.*
  tripleo-validations-centos-8-molecule-ceilometerdb_size: any of: ^roles/ceilometerdb_size/.*
  tripleo-validations-centos-8-molecule-neutron_sanity_check: any of: ^roles/neutron_sanity_check/.*
  tripleo-validations-centos-8-molecule-node_health: any of: ^roles/node_health/.*
  tripleo-validations-centos-8-molecule-nova_event_callback: any of: ^roles/nova_event_callback/.*
  tripleo-validations-centos-8-molecule-ovs_dpdk_pmd: any of: ^roles/ovs_dpdk_pmd/.*
  tripleo-validations-centos-8-molecule-pacemaker_status: any of: ^roles/pacemaker_status/.*
  tripleo-validations-centos-8-molecule-stack_health: any of: ^roles/stack_health/.*
  tripleo-validations-centos-8-molecule-switch_vlans: any of: ^roles/switch_vlans/.*
  tripleo-validations-centos-8-molecule-tls_everywhere: any of: ^roles/tls_everywhere/.*
  tripleo-validations-centos-8-molecule-undercloud_process_count: any of: ^roles/undercloud_process_count/.*
  tripleo-validations-centos-8-molecule-undercloud_selinux_mode: any of: ^roles/undercloud_selinux_mode/.*
  tripleo-validations-centos-8-molecule-openstack_endpoints: any of: ^roles/openstack_endpoints/.*
  tripleo-validations-centos-8-molecule-ntp: any of: ^roles/ntp/.*
  tripleo-validations-centos-8-molecule-service_status: any of: ^roles/service_status/.*
  tripleo-validations-centos-8-molecule-openshift_on_openstack: any of: ^roles/openshift_on_openstack/.*
  tripleo-validations-centos-8-molecule-node_disks: any of: ^roles/node_disks/.*
  tripleo-validations-centos-8-molecule-container_status: any of: ^roles/container_status/.*
  tripleo-validations-centos-8-molecule-healthcheck_service_status: any of: ^roles/healthcheck_service_status/.*
  tripleo-validations-centos-8-molecule-ironic_boot_configuration: any of: ^roles/ironic_boot_configuration/.*
  tripleo-validations-centos-8-molecule-mysql_open_files_limit: any of: ^roles/mysql_open_files_limit/.*
  tripleo-validations-centos-8-molecule-network_environment: any of: ^roles/network_environment/.*
  tripleo-validations-centos-8-molecule-advanced_format_512e_support: any of: ^roles/advanced_format_512e_support/.*
  tripleo-validations-centos-8-molecule-dhcp_validations: any of: ^roles/dhcp_validations/.*
  tripleo-validations-centos-8-molecule-controller_token: any of: ^roles/controller_token/.*
  tripleo-validations-centos-8-molecule-controller_ulimits: any of: ^roles/controller_ulimits/.*
  tripleo-validations-centos-8-molecule-ctlplane_ip_range: any of: ^roles/ctlplane_ip_range/.*
  tripleo-validations-centos-8-molecule-dns: any of: ^roles/dns/.*
  tripleo-validations-centos-8-molecule-haproxy: any of: ^roles/haproxy/.*
  tripleo-validations-centos-8-molecule-repos: any of: ^roles/repos/.*
  tripleo-validations-centos-8-molecule-undercloud_cpu: any of: ^roles/undercloud_cpu/.*
  tripleo-validations-centos-8-molecule-undercloud_ram: any of: ^roles/undercloud_ram/.*
  tripleo-validations-centos-8-molecule-undercloud_debug: any of: ^roles/undercloud_debug/.*
  tripleo-validations-centos-8-molecule-undercloud_disk_space: any of: ^roles/undercloud_disk_space/.*
  tripleo-validations-centos-8-molecule-xfs_check_ftype: any of: ^roles/xfs_check_ftype/.*
  tripleo-validations-centos-8-molecule-nova_status: any of: ^roles/nova_status/.*
  tripleo-validations-centos-8-molecule-image_serve: any of: ^roles/image_serve/.*
  tripleo-validations-centos-8-molecule-check_network_gateway: any of: ^roles/check_network_gateway/.*
  tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted: any of: ^roles/undercloud_heat_purge_deleted/.*
  tripleo-validations-centos-8-molecule-undercloud_tokenflush: any of: ^roles/undercloud_tokenflush/.*
  tripleo-validations-centos-8-molecule-rabbitmq_limits: any of: ^roles/rabbitmq_limits/.*
  tripleo-validations-centos-8-molecule-stonith_exists: any of: ^roles/stonith_exists/.*
  tripleo-validations-centos-8-molecule-check_latest_packages_version: any of: ^roles/check_latest_packages_version/.*
  tripleo-validations-centos-8-molecule-validate_selinux: any of: ^roles/validate_selinux/.*
  tripleo-validations-centos-8-molecule-ceph: any of: ^roles/ceph/.*
