Repository openstack-archive/tripleo-validations: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles, tripleo-validations-centos-8-molecule-ceilometerdb_size, tripleo-validations-centos-8-molecule-neutron_sanity_check, tripleo-validations-centos-8-molecule-node_health, tripleo-validations-centos-8-molecule-nova_event_callback, tripleo-validations-centos-8-molecule-ovs_dpdk_pmd, tripleo-validations-centos-8-molecule-pacemaker_status, tripleo-validations-centos-8-molecule-stack_health, tripleo-validations-centos-8-molecule-switch_vlans, tripleo-validations-centos-8-molecule-tls_everywhere, tripleo-validations-centos-8-molecule-undercloud_process_count, tripleo-validations-centos-8-molecule-undercloud_selinux_mode, tripleo-validations-centos-8-molecule-openstack_endpoints, tripleo-validations-centos-8-molecule-ntp, tripleo-validations-centos-8-molecule-service_status, tripleo-validations-centos-8-molecule-openshift_on_openstack, tripleo-validations-centos-8-molecule-node_disks, tripleo-validations-centos-8-molecule-container_status, tripleo-validations-centos-8-molecule-healthcheck_service_status, tripleo-validations-centos-8-molecule-ironic_boot_configuration, tripleo-validations-centos-8-molecule-mysql_open_files_limit, tripleo-validations-centos-8-molecule-network_environment, tripleo-validations-centos-8-molecule-advanced_format_512e_support, tripleo-validations-centos-8-molecule-dhcp_validations, tripleo-validations-centos-8-molecule-controller_token, tripleo-validations-centos-8-molecule-controller_ulimits, tripleo-validations-centos-8-molecule-ctlplane_ip_range, tripleo-validations-centos-8-molecule-dns, tripleo-validations-centos-8-molecule-haproxy, tripleo-validations-centos-8-molecule-repos, tripleo-validations-centos-8-molecule-undercloud_cpu, tripleo-validations-centos-8-molecule-undercloud_ram, tripleo-validations-centos-8-molecule-undercloud_debug, tripleo-validations-centos-8-molecule-undercloud_disk_space, tripleo-validations-centos-8-molecule-xfs_check_ftype, tripleo-validations-centos-8-molecule-nova_status, tripleo-validations-centos-8-molecule-image_serve, tripleo-validations-centos-8-molecule-check_network_gateway, tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted, tripleo-validations-centos-8-molecule-undercloud_tokenflush, tripleo-validations-centos-8-molecule-rabbitmq_limits, tripleo-validations-centos-8-molecule-stonith_exists, tripleo-validations-centos-8-molecule-check_latest_packages_version, tripleo-validations-centos-8-molecule-validate_selinux, tripleo-validations-centos-8-molecule-ceph, tripleo-validations-centos-8-molecule-system_encoding, tripleo-validations-centos-8-molecule-nova_svirt, tripleo-validations-centos-8-molecule-package_version

Path conditions:
  tripleo-validations-centos-8-molecule-collect_flavors_and_verify_profiles: any of: ^roles/collect_flavors_and_verify_profiles/.*
  tripleo-validations-centos-8-molecule-ceilometerdb_size: any of: ^roles/ceilometerdb_size/.*
  tripleo-validations-centos-8-molecule-neutron_sanity_check: any of: ^roles/neutron_sanity_check/.*
  tripleo-validations-centos-8-molecule-node_health: any of: ^roles/node_health/.*
  tripleo-validations-centos-8-molecule-nova_event_callback: any of: ^roles/nova_event_callback/.*
  tripleo-validations-centos-8-molecule-ovs_dpdk_pmd: any of: ^roles/ovs_dpdk_pmd/.*
  tripleo-validations-centos-8-molecule-pacemaker_status: any of: ^roles/pacemaker_status/.*
  tripleo-validations-centos-8-molecule-stack_health: any of: ^roles/stack_health/.*
  tripleo-validations-centos-8-molecule-switch_vlans: any of: ^roles/switch_vlans/.*
  tripleo-validations-centos-8-molecule-tls_everywhere: any of: ^roles/tls_everywhere/.*
  tripleo-validations-centos-8-molecule-undercloud_process_count: any of: ^roles/undercloud_process_count/.*
  tripleo-validations-centos-8-molecule-undercloud_selinux_mode: any of: ^roles/undercloud_selinux_mode/.*
  tripleo-validations-centos-8-molecule-openstack_endpoints: any of: ^roles/openstack_endpoints/.*
  tripleo-validations-centos-8-molecule-ntp: any of: ^roles/ntp/.*
  tripleo-validations-centos-8-molecule-service_status: any of: ^roles/service_status/.*
  tripleo-validations-centos-8-molecule-openshift_on_openstack: any of: ^roles/openshift_on_openstack/.*
  tripleo-validations-centos-8-molecule-node_disks: any of: ^roles/node_disks/.*
  tripleo-validations-centos-8-molecule-container_status: any of: ^roles/container_status/.*
  tripleo-validations-centos-8-molecule-healthcheck_service_status: any of: ^roles/healthcheck_service_status/.*
  tripleo-validations-centos-8-molecule-ironic_boot_configuration: any of: ^roles/ironic_boot_configuration/.*
  tripleo-validations-centos-8-molecule-mysql_open_files_limit: any of: ^roles/mysql_open_files_limit/.*
  tripleo-validations-centos-8-molecule-network_environment: any of: ^roles/network_environment/.*
  tripleo-validations-centos-8-molecule-advanced_format_512e_support: any of: ^roles/advanced_format_512e_support/.*
  tripleo-validations-centos-8-molecule-dhcp_validations: any of: ^roles/dhcp_validations/.*
  tripleo-validations-centos-8-molecule-controller_token: any of: ^roles/controller_token/.*
  tripleo-validations-centos-8-molecule-controller_ulimits: any of: ^roles/controller_ulimits/.*
  tripleo-validations-centos-8-molecule-ctlplane_ip_range: any of: ^roles/ctlplane_ip_range/.*
  tripleo-validations-centos-8-molecule-dns: any of: ^roles/dns/.*
  tripleo-validations-centos-8-molecule-haproxy: any of: ^roles/haproxy/.*
  tripleo-validations-centos-8-molecule-repos: any of: ^roles/repos/.*
  tripleo-validations-centos-8-molecule-undercloud_cpu: any of: ^roles/undercloud_cpu/.*
  tripleo-validations-centos-8-molecule-undercloud_ram: any of: ^roles/undercloud_ram/.*
  tripleo-validations-centos-8-molecule-undercloud_debug: any of: ^roles/undercloud_debug/.*
  tripleo-validations-centos-8-molecule-undercloud_disk_space: any of: ^roles/undercloud_disk_space/.*
  tripleo-validations-centos-8-molecule-xfs_check_ftype: any of: ^roles/xfs_check_ftype/.*
  tripleo-validations-centos-8-molecule-nova_status: any of: ^roles/nova_status/.*
  tripleo-validations-centos-8-molecule-image_serve: any of: ^roles/image_serve/.*
  tripleo-validations-centos-8-molecule-check_network_gateway: any of: ^roles/check_network_gateway/.*
  tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted: any of: ^roles/undercloud_heat_purge_deleted/.*
  tripleo-validations-centos-8-molecule-undercloud_tokenflush: any of: ^roles/undercloud_tokenflush/.*
  tripleo-validations-centos-8-molecule-rabbitmq_limits: any of: ^roles/rabbitmq_limits/.*
  tripleo-validations-centos-8-molecule-stonith_exists: any of: ^roles/stonith_exists/.*
  tripleo-validations-centos-8-molecule-check_latest_packages_version: any of: ^roles/check_latest_packages_version/.*
  tripleo-validations-centos-8-molecule-validate_selinux: any of: ^roles/validate_selinux/.*
  tripleo-validations-centos-8-molecule-ceph: any of: ^roles/ceph/.*
  tripleo-validations-centos-8-molecule-system_encoding: any of: ^roles/system_encoding/.*
  tripleo-validations-centos-8-molecule-nova_svirt: any of: ^roles/nova_svirt/.*
  tripleo-validations-centos-8-molecule-package_version: any of: ^roles/package_version/.*

Add a validation to check the local.
  doc/source/roles/role-system_encoding.rst
  playbooks/system_encoding.yaml
  roles/system_encoding/defaults/main.yml
  roles/system_encoding/molecule/default/Dockerfile
  roles/system_encoding/molecule/default/converge.yml
  roles/system_encoding/molecule/default/molecule.yml
  roles/system_encoding/tasks/main.yml
  zuul.d/molecule.yaml
Due: tripleo-validations-centos-8-molecule-system_encoding

replace max_fds with sysctl call
  roles/rabbitmq_limits/tasks/main.yml
Due: tripleo-validations-centos-8-molecule-rabbitmq_limits

Add validation to verify undercloud.conf content.
  .zuul.yaml
  doc/source/roles/role-check_undercloud_conf.rst
  playbooks/check-undercloud-conf.yaml
  roles/check_undercloud_conf/defaults/main.yml
  roles/check_undercloud_conf/molecule/config_OK/Dockerfile.j2
  roles/check_undercloud_conf/molecule/config_OK/converge.yml
  roles/check_undercloud_conf/molecule/config_OK/molecule.yml
  roles/check_undercloud_conf/molecule/config_OK/prepare.yml
  roles/check_undercloud_conf/molecule/default/Dockerfile.j2
  roles/check_undercloud_conf/molecule/default/converge.yml
  roles/check_undercloud_conf/molecule/default/molecule.yml
  roles/check_undercloud_conf/molecule/default/prepare.yml
  roles/check_undercloud_conf/molecule/deprecated_drivers/Dockerfile.j2
  roles/check_undercloud_conf/molecule/deprecated_drivers/converge.yml
  roles/check_undercloud_conf/molecule/deprecated_drivers/molecule.yml
  roles/check_undercloud_conf/molecule/deprecated_drivers/prepare.yml
  roles/check_undercloud_conf/molecule/deprecated_params/Dockerfile.j2
  roles/check_undercloud_conf/molecule/deprecated_params/converge.yml
  roles/check_undercloud_conf/molecule/deprecated_params/molecule.yml
  roles/check_undercloud_conf/molecule/deprecated_params/prepare.yml
  roles/check_undercloud_conf/molecule/required_missing/Dockerfile.j2
  roles/check_undercloud_conf/molecule/required_missing/converge.yml
  roles/check_undercloud_conf/molecule/required_missing/molecule.yml
  roles/check_undercloud_conf/molecule/required_missing/prepare.yml
  roles/check_undercloud_conf/tasks/check_syntax.yml
  roles/check_undercloud_conf/tasks/main.yml
Due: none

Remove workaround for broken dogpile.cache and lower-constraints file
  .zuul.yaml
  lower-constraints.txt
  molecule-requirements.txt
  test-requirements.txt
  tox.ini
Due: none

Update role-addition.yml playbook to manage molecule.yaml file again
  ansible.cfg
  roles/image_serve/molecule/default/molecule.yml
  zuul.d/base.yaml
  zuul.d/layout.yaml
  zuul.d/molecule.yaml
Due: tripleo-validations-centos-8-molecule-image_serve

Restrict Ansible dependency
  molecule-requirements.txt
Due: none

Ignore ansible-lint command exit code
  tox.ini
Due: none

Adds heat-manage purge_deleted cron job validation
  releasenotes/notes/bug-1776721-2e0abe371abee71c.yaml
  validations/undercloud-heat-purge-deleted.yaml
Due: none

Get the undercloud.conf file from where it actually is
  roles/ceilometerdb_size/tasks/main.yml
  roles/check_network_gateway/molecule/default/converge.yml
  roles/check_network_gateway/molecule/default/molecule.yml
  roles/check_network_gateway/molecule/default/prepare.yml
  roles/check_network_gateway/tasks/main.yml
  roles/check_undercloud_conf/molecule/config_OK/prepare.yml
  roles/check_undercloud_conf/molecule/default/prepare.yml
  roles/check_undercloud_conf/molecule/deprecated_drivers/prepare.yml
  roles/check_undercloud_conf/molecule/deprecated_params/prepare.yml
  roles/check_undercloud_conf/molecule/required_missing/prepare.yml
  roles/check_undercloud_conf/tasks/check_syntax.yml
  roles/check_undercloud_conf/tasks/main.yml
  roles/container_status/tasks/main.yaml
  roles/ctlplane_ip_range/molecule/default/converge.yml
  roles/ctlplane_ip_range/molecule/default/prepare.yml
  roles/ctlplane_ip_range/tasks/main.yml
  roles/dhcp_validations/tasks/dhcp-provisioning.yaml
  roles/neutron_sanity_check/tasks/main.yml
  roles/tls_everywhere/tasks/pre-deployment.yaml
  roles/tls_everywhere/tasks/prep.yaml
  roles/undercloud_heat_purge_deleted/molecule/default/converge.yml
  roles/undercloud_heat_purge_deleted/molecule/default/prepare.yml
  roles/undercloud_heat_purge_deleted/tasks/main.yml
  roles/undercloud_process_count/tasks/main.yml
  roles/undercloud_tokenflush/molecule/default/converge.yml
  roles/undercloud_tokenflush/molecule/default/prepare.yml
  roles/undercloud_tokenflush/tasks/main.yml
  zuul.d/molecule.yaml
Due: tripleo-validations-centos-8-molecule-ceilometerdb_size, tripleo-validations-centos-8-molecule-neutron_sanity_check, tripleo-validations-centos-8-molecule-tls_everywhere, tripleo-validations-centos-8-molecule-undercloud_process_count, tripleo-validations-centos-8-molecule-container_status, tripleo-validations-centos-8-molecule-dhcp_validations, tripleo-validations-centos-8-molecule-ctlplane_ip_range, tripleo-validations-centos-8-molecule-check_network_gateway, tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted, tripleo-validations-centos-8-molecule-undercloud_tokenflush

Retire ceilometerdb-size validation
  doc/source/roles/role-ceilometerdb_size.rst
  playbooks/ceilometerdb-size.yaml
  releasenotes/notes/ceilometerdb-size-validation-removal-a5c42940eac102df.yaml
  roles/ceilometerdb_size/defaults/main.yml
  roles/ceilometerdb_size/molecule/default/Dockerfile
  roles/ceilometerdb_size/molecule/default/converge.yml
  roles/ceilometerdb_size/molecule/default/molecule.yml
  roles/ceilometerdb_size/tasks/main.yml
  roles/ceilometerdb_size/vars/main.yml
  zuul.d/molecule.yaml
Due: tripleo-validations-centos-8-molecule-ceilometerdb_size

Add tripleo-validation.py as script in setup.cfg
  lower-constraints.txt
  setup.cfg
  tox.ini
  zuul.d/layout.yaml
  zuul.d/layout.yaml.bak
Due: none

Ensures script is executable
  scripts/tripleo-validation.py
Due: none

Move tripleo validations CLI from tripleoclient to tripleo-validations repo
  setup.cfg
  tests/test_tripleo_validator.py
  tripleo_validations/constants.py
  tripleo_validations/plugin.py
  tripleo_validations/tripleo_validator.py
Due: none

Add setuptools.
  requirements.txt
Due: none

Add tripleo-validations role for component testing
  roles/tripleo_validations/defaults/main.yml
  roles/tripleo_validations/tasks/main.yml
  roles/tripleo_validations/tasks/run.yml
  roles/tripleo_validations/tasks/test_script.yml
  roles/tripleo_validations/templates/run-validations-cli-tests.sh.j2
  roles/tripleo_validations/vars/main.yml
Due: none

Local var was redefining built-in range
  library/network_environment.py
Due: none

Generate inventory without any overcloud
  scripts/tripleo-ansible-inventory
  tripleo_validations/constants.py
  tripleo_validations/utils.py
Due: none

Add validation to verify the RHSM version.
  doc/source/roles/role-check_rhsm_version.rst
  playbooks/check-rhsm-version.yaml
  roles/check_rhsm_version/defaults/main.yml
  roles/check_rhsm_version/molecule/default/Dockerfile
  roles/check_rhsm_version/molecule/default/converge.yml
  roles/check_rhsm_version/molecule/default/molecule.yml
  roles/check_rhsm_version/molecule/rhsm_mismatch/Dockerfile
  roles/check_rhsm_version/molecule/rhsm_mismatch/converge.yml
  roles/check_rhsm_version/molecule/rhsm_mismatch/molecule.yml
  roles/check_rhsm_version/tasks/main.yml
  zuul.d/molecule.yaml
Due: none

Remove workaround for broken dogpile.cache and lower-constraints file
  lower-constraints.txt
  molecule-requirements.txt
  test-requirements.txt
  tox.ini
  zuul.d/layout.yaml
Due: none

Remove useless __init__.py file in library
  library/__init__.py
Due: none

Change path for validation Ansible files
  scripts/tripleo-validation.py
  setup.cfg
Due: none

Restore layout.yaml file
  zuul.d/layout.yaml
  zuul.d/layout.yaml.bak
Due: none

Fix the get_deployment_status call
  tripleo_validations/tripleo_validator.py
Due: none

Add post-deployment frr_status validation
  doc/source/roles/role-frr_status.rst
  playbooks/frr-status.yaml
  roles/frr_status/molecule/default/Dockerfile
  roles/frr_status/molecule/default/converge.yml
  roles/frr_status/molecule/default/molecule.yml
  roles/frr_status/molecule/default/prepare.yml
  roles/frr_status/molecule/faulty/Dockerfile
  roles/frr_status/molecule/faulty/converge.yml
  roles/frr_status/molecule/faulty/molecule.yml
  roles/frr_status/molecule/faulty/prepare.yml
  roles/frr_status/tasks/main.yml
  roles/frr_status/vars/main.yml
  zuul.d/molecule.yaml
Due: none

Add new Update validation groups.
  doc/source/index.rst
  groups.yaml
  role-addition.yml
Due: none

Add system encoding to pre-update stage.
  playbooks/system_encoding.yaml
Due: none

Get the undercloud.conf file from where it actually is
  .zuul.yaml
  roles/ceilometerdb_size/tasks/main.yml
  roles/check_network_gateway/molecule/default/converge.yml
  roles/check_network_gateway/molecule/default/prepare.yml
  roles/check_network_gateway/tasks/main.yml
  roles/container_status/tasks/main.yaml
  roles/ctlplane_ip_range/molecule/default/converge.yml
  roles/ctlplane_ip_range/molecule/default/prepare.yml
  roles/ctlplane_ip_range/tasks/main.yml
  roles/dhcp_validations/tasks/dhcp-provisioning.yaml
  roles/neutron_sanity_check/tasks/main.yml
  roles/tls_everywhere/tasks/pre-deployment.yaml
  roles/tls_everywhere/tasks/prep.yaml
  roles/undercloud_heat_purge_deleted/molecule/default/converge.yml
  roles/undercloud_heat_purge_deleted/molecule/default/prepare.yml
  roles/undercloud_heat_purge_deleted/tasks/main.yml
  roles/undercloud_process_count/tasks/main.yml
  roles/undercloud_tokenflush/molecule/default/converge.yml
  roles/undercloud_tokenflush/molecule/default/prepare.yml
  roles/undercloud_tokenflush/tasks/main.yml
Due: tripleo-validations-centos-8-molecule-ceilometerdb_size, tripleo-validations-centos-8-molecule-neutron_sanity_check, tripleo-validations-centos-8-molecule-tls_everywhere, tripleo-validations-centos-8-molecule-undercloud_process_count, tripleo-validations-centos-8-molecule-container_status, tripleo-validations-centos-8-molecule-dhcp_validations, tripleo-validations-centos-8-molecule-ctlplane_ip_range, tripleo-validations-centos-8-molecule-check_network_gateway, tripleo-validations-centos-8-molecule-undercloud_heat_purge_deleted, tripleo-validations-centos-8-molecule-undercloud_tokenflush
